<template>
  <div id="messageNavigation" class="messageNavigation" :style="contentHeight">
    <div class="messageNavigation-content">
      <section id="main" class="messageSection">
        <message v-for="message in messages" :message-info="getParsedMessage(message)" :loader-height="messageLoaderHeight"></message>
      </section>
    </div>
  </div>
</template>
<script type="text/babel" lang="babel">
  import signalrObserver from '../../helpers/event-utils/signalr-observer'
  import message from './message.vue'
  import EventMessageType from '../../helpers/constants/data/EventMessageType'
  import {addMessage, removeMessage, setMessages, removeMessages} from './../../state/modules/restaurant/actions'
  export default {
    vuex: {
      getters: {
        messages: state=>state.restaurant.messages,
      },
      actions: {
        addMessage,
        removeMessage,
        setMessages,
        removeMessages,
      }
    },
    components: {message},
    data(){
      return {
        maxMessages:3,
        height:50,
        messageLoaderHeight:100
      }
    },
    computed:{
      hasAnyMessages(){
        return this.messages.length>0;
      },
      contentHeight(){
        return `max-height: ${this.height}px`;
      }
    },
    methods: {
      getParsedMessage(message) {
        var MessageType = message.Message.MessageType;
        var parsedMessage = {
          text: '',
          image: '',
          name: '',
          link: '',
          hasPreview: false,
          timestamp:'',
          orderMetaData:null,
          info:null,
          messageType:''
        };
        parsedMessage.hasPreview = this.messageTypeHasPreview(MessageType);
        var info = this.getMessageInfo(message);
        parsedMessage.name=info.name;
        parsedMessage.image=info.image;
        parsedMessage.info=message.Message;
        parsedMessage.messageType=message.Message.MessageType;
        parsedMessage.orderMetaData=message.Message.Metadata.OrderMetadata;
        parsedMessage.timestamp=this.parseDate(message.Message.Timestamp);
        switch (MessageType) {
          case EventMessageType.UserCheckIn:
            parsedMessage.text = "Arrived in the Restaurant";
            parsedMessage.link = "/users/unallocated";
            break;
          case EventMessageType.UserCheckOut:
            parsedMessage.text = "Left the Restaurant";
            break;
          case EventMessageType.TableClosed:
            parsedMessage.text = "Please Close";
            parsedMessage.link = "/table/" + message.Table.Id + "/details";
            break;
          case EventMessageType.CloseOrder:
            parsedMessage.text = "Incorrect Order Change?";
            parsedMessage.link = "/table/" + message.Table.Id + "/details";
            break;
          case EventMessageType.Disconnected:
            parsedMessage.text = "User disconnected";
            break;
          case EventMessageType.Reconnected:
            parsedMessage.text = "User re-connected";
            break;
          case EventMessageType.OrderClosed:
            parsedMessage.text = "Closed in the POS system";
            break;
          default:
            parsedMessage.text = "";
            break;
        }
        return parsedMessage;
      },
      getImage(message){
        switch (message.MessageType) {
          case EventMessageType.CloseOrder:
        }
        return message.User.Avatar;
      },
      messageTypeHasPreview(messageType) {
        return messageType == EventMessageType.UserCheckIn || messageType == EventMessageType.CloseOrder || messageType == EventMessageType.TableClosed;
      },
      parseDate(timestamp){
        if (!timestamp || timestamp == '') return '';
        var date=new Date(timestamp);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        if (hours < 10) hours = `0${hours}`;
        if (minutes < 10) minutes = `0${minutes}`;
        let result=`${hours}:${minutes}`
        return result
      },
      getMessageInfo(message){
        var info={
          name:'',
          image:''
        };
        switch (message.Message.MessageType) {
          case EventMessageType.TableClosed:
          case EventMessageType.CloseOrder:
          case EventMessageType.OrderClosed:
            info.name = message.Message.Metadata.TableNumber;
            info.image='/static/images/table-grey.png';
            break;
          default:
            var user = message.User;
            info.name=user.PreName + " " + user.LastName;
            info.image=user.Avatar;
            break;

        }
        return info;
      },
      handleResize(){
        if(this.hasAnyMessages){
          var msgElement=this.$children[0]; //get the first message component
          var msgElementHeight=msgElement.$el.clientHeight; //get the element height;
          this.messageLoaderHeight=msgElementHeight;
          this.height=msgElementHeight*this.maxMessages; //set the component height to max 3 messages
        }
      }
    },
    ready: function () {
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style>
</style>


