<template>
  <div>
    <div class="text-center"  id="loading" v-if="loading">
      <img src="/static/images/ajax-loader.gif" :style="loaderStyle"/>
    </div>
    <div v-else>
      <ul class="list-group msg">
        <li class="state">
          <span>{{messageInfo.timestamp}}</span>&nbsp;
          <span>{{messageInfo.text}}</span>
        </li>
        <li class="list-group-item displayTable">
          <div class="displayCell sign">
          </div>
          <div class="displayCell profilePic-md" style=" padding-right: 10px; vertical-align: middle;">
            <a>
              <img :src="messageInfo.image" alt="">
            </a>
          </div>
          <div class="displayCell profileName-md" style=" vertical-align: middle; padding-right:10px">
            <a>{{messageInfo.name}}</a>
          </div>
          <div class="displayCell messageMetadata" style="text-align: left; vertical-align: middle;"
               v-if="displayOrderMetadata">
            <div style=" display: inline-block; text-align: left">
              <p>
                <img src="/static/images/table-ticket.png" alt="" style="height: 16px;">
                <span style="font-size: 12px; margin-left: 5px;">{{messageInfo.orderMetaData.PosOrderId}}</span>
              </p>
              <p>
                <img src="/static/images/money.png" alt="" style="height: 16px;">
                <span style="font-size: 12px; margin-left: 5px;">{{orderMetaDataTotals}} </span>
              </p>
            </div>
          </div>
          <div class="displayCell profileAction-sm" style=" vertical-align: middle;">
            <div v-show="messageInfo.hasPreview">
              <a v-link="messageInfo.link" class="preview-message">
                <img src="/static/images/message-preview.png" alt="">
              </a>
            </div>
          </div>
          <div class="displayCell profileAction-sm" style=" vertical-align: middle;">
            <a class="remove-message" @click=deleteMessage>
              <img src="/static/images/delete@2x.png" alt="">
            </a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</template>
<script type="text/babel" lang="babel">
  import {removeMessage} from './../../state/modules/restaurant/actions'
  import MessageTypes from '../../helpers/constants/data/EventMessageType'
  export default {
    vuex: {
      actions: {
        removeMessage
      }
    },
    props: [{
      name: 'messageInfo',
      default(){
        return {
          text: '',
          image: '',
          name: '',
          link: '',
          hasPreview: false,
          timestamp: '',
          orderMetaData: null,
          info: null,
          messageType: ''
        }
      }
      },
      {
        name: 'loaderHeight',
        default: 100
      }],
    data() {
      return {
        rightIcon: '/static/images/add@2x.png',
        loading: false
      }
    },
    computed: {
      displayOrderMetadata(){
        if (this.messageInfo.messageType != MessageTypes.OrderClosed && this.messageInfo.messageType!=MessageTypes.TableClosed) {
          return false;
        }
        var orderMetaData = this.messageInfo.orderMetaData;
        if (orderMetaData) {
          if (!orderMetaData.PosOrderId) {
            return false;
          }
          return true;
        }
        return false;
      },
      orderMetaDataTotals(){
        if(this.displayOrderMetadata){
          if (this.messageInfo.messageType != MessageTypes.TableClosed){
            var amount=this.messageInfo.orderMetaData.TotalOrderAmountExclTip;
            if(amount){
              amount=amount.toFixed(2);
            }
            else{
              amount=''
            }
            return `${amount} CHF excl. tip`;
          }
          else{
            var amount=this.messageInfo.orderMetaData.TastierPaymentsInclTip;
            if(amount){
              amount=amount.toFixed(2);
            }
            else{
              amount=''
            }
            return `${amount} CHF Tastier Payment incl. tip`;
          }
        }
      },
      loaderStyle(){
        let result=`height: ${this.loaderHeight}px;
                    width: ${this.loaderHeight}px;`;
        return result
      }
    },
    methods: {
      deleteMessage(){
        this.loading = true;
        this.removeMessage(this.messageInfo.info.Id, ()=> {
          this.loading = false;
        }, (context, reason)=> {
          //display some error
        })
      }
    }
  }
</script>

<style>
</style>
