<template>
  <div>
    <div class="text-center" id="loading" v-if="loading"><img src="/static/images/ajax-loader.gif"/></div>
    <keypad :entered-text.sync="tableNumber" show-text="showText" :error-msg="errorMsg"></keypad>
    <footer-lower :text="footerText" :click-function="allocateUsers"></footer-lower>
  </div>
</template>
<style>
</style>
<script lang="babel" type="text/babel">
  import keypad from './../layout/keypad.vue'
  import HeaderParts from '../../helpers/constants/layout/HeaderParts'
  import ErrorTypes from '../../helpers/constants/layout/ErrorTypes'
  import {displayHeaderPart, setHeaderText, setHeaderComponent} from './../../state/modules/header/actions'
  import {
    setSelectedUsers,
    allocateUsersToTable,
    setError,
    setAllocationMessage,
    displayAllocationMessage
  } from './../../state/modules/restaurant/actions'
  import footerLower from './../layout/footer.vue'
  export default{
    vuex: {
      getters: {
        selectedUsers: state=>state.restaurant.selectedUsers,
        errorMsg: state=>state.restaurant.errors.addUsersError,
        loading:state=>state.restaurant.loading.addUsers
      },
      actions: {
        displayHeaderPart,
        setHeaderText,
        setHeaderComponent,
        setSelectedUsers,
        allocateUsersToTable,
        setError,
        setAllocationMessage,
        displayAllocationMessage,
      }
    },
    components: {keypad, footerLower},
    data(){
      return {
        tableNumber: '',
        showText: true,
        footerText: 'OK'
      }
    },
    methods: {
      initializeLayout(){
        this.displayHeaderPart(HeaderParts.Lower, false);
        this.displayHeaderPart(HeaderParts.Right, false);
        this.setHeaderComponent(HeaderParts.Left, 'leftArrow');
        this.displayHeaderPart(HeaderParts.Left, true);
        this.setHeaderText('Enter Table number');
        this.setError(ErrorTypes.AddUsersError, '');
      },
      allocateUsers(){
        var tableObj = {
          CustomerIds: this.selectedUsers,
          TableNumber: this.tableNumber,
          TableId: null
        };
        return this.allocateUsersToTable(tableObj, this.allocationSuccess);
      },
      allocationSuccess(){
        let nrOfAllocatedUsers = this.selectedUsers.length;
        let msg=`${nrOfAllocatedUsers} users allocated to table no. ${this.tableNumber}/1`
        this.setAllocationMessage(msg);
        this.displayAllocationMessage(true);
        this.setSelectedUsers([]);
        this.$router.go('/users/unallocated')
      }
    },
    created(){
      this.initializeLayout();
    }
  }
</script>
