<template>
  <div class="loginScroll">
    <div class="alert alert-danger text-center" v-if="showNoUsersError && !loadingAllocated">
      <h4>{{errorMsg}}</h4>
    </div>
    <div class="text-center" id="loading" v-if="loadingAllocated"><img src="/static/images/ajax-loader.gif"/></div>
    <div v-for="table in tables" v-show="!loadingAllocated">
      <div class="allocationScroll" v-link="{ name: 'table', params: { id: table.id }}">
        <div class="displayTable">
          <div class="displayCell">
            <div class="tableAllocation pull-left">
              <a >
                <img src="/static/images/table-green.png" alt="">&nbsp;
                <span class="tableNumber"><b>{{table.tableNumber}}</b> / 1</span></a>
            </div>
            <div class="tableMessage pull-right" v-show="displayMessageIcon(table.tableMessages)">
              <img src="/static/images/comment.png" alt="">
              <span class="badge" style="position: relative; margin-bottom: 15px;">
                <label>{{table.tableMessages.length}}</label>
              </span></div>
          </div>
        </div><hr class="green">
        <div id="5" class="scrollContent scrollAlone" >
          <user v-for="user in table.users" :user-id="user.id" :image-src="user.user.avatar"
                :first-name="user.user.preName" :last-name="user.user.lastName"
                :date-info="user.allocated" date-info-pre-text="At table since ">

          </user>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  import user from './user.vue'
  import store from '../../state/store'
  import CustomerType from '../../helpers/constants/data/CustomerType'
  import {setLowerHeaderActiveTab} from '../../state/modules/header/actions'
  export default {
    components:{user},
    vuex:{
      getters:{
        allTables:state=>state.restaurant.allTables,
        loadingAllocated:state=>state.restaurant.loading.allocated
      },
      actions:{
        setLowerHeaderActiveTab,
      }

    },
    computed:{
      tables(){
        if(!this.allTables){
          return [];
        }
        return this.allTables.filter(t=>
        {
          if(!t.users) return false;
          if(!t.order) return false;
          if(t.order){
            if(t.order.currentPercentagePaid==100){
              return false;
            }
          }
          return t.users.length>0
        });
      },
      showNoUsersError(){
        if(!this.tables) return true;
        return this.tables.length==0;
      }
    },

    data:function(){
      return {
        errorMsg:'There are no allocated users'
      }
    },
     methods:{
       initializeLayout(){
         this.setLowerHeaderActiveTab(2);
       },
       displayMessageIcon(tableMessages){
         if(tableMessages){
          return tableMessages.length>0;
         }
         return false;
       }
     },
    created(){
      this.initializeLayout();
    }
  }
</script>

<style>
</style>
