<template>
  <div>
    <div id="user-message-wrapper" class="loginScroll">
      <alert type="success" v-if="isAllocationMessageVisible" :timeout-expired="clearAllocationMessage">
        {{allocationMessage}}
      </alert>
    </div>
    <alert type="danger" v-if="showErrorMsg" :timeout-expired="clearError">
      {{error}}
    </alert>
    <div class="text-center" id="loading" v-if="loadingUnallocated"><img src="/static/images/ajax-loader.gif"/></div>
    <div id="unallocated-users-wrapper" v-show="!loadingUnallocated">
      <user v-for="user in users" :user-id="user.id" :image-src="user.avatar"
            :first-name="user.preName" :last-name="user.lastName"
            :date-info="user.unallocatedSince" :date-info-pre-text="dateInfoPreText"
            :display-right-icon="displayRightIcon" :display-left-side-space="userDisplayLeftSideSpace"
            :selected.sync="user.selected"></user>
    </div>
    <router-view></router-view>
    <footer-lower :text="footerText" :click-function="showAllocationKeypad"></footer-lower>
  </div>
</template>
<script>
  import user from './user'
  import store from '../../state/store'
  import alert from './../layout/alert.vue'
  import CustomerType from '../../helpers/constants/data/CustomerType'
  import {
    setSelectedUsers,
    displayAllocationMessage,
    setAllocationMessage
  } from '../../state/modules/restaurant/actions'
  import {displayHeaderPart, setLowerHeaderActiveTab, setHeaderText} from '../../state/modules/header/actions'
  import footerLower from './../layout/footer.vue'
  export default {
    props: ['userId', 'imageSrc', 'fullName', 'dateInfo'],
    components: {user,footerLower, alert},
    vuex: {
      getters: {
        users: state=>state.restaurant.unallocatedUsers,
        loadingUnallocated: state=>state.restaurant.loading.unallocated,
        allocationMessage: state=>state.restaurant.allocationMessage,
        isAllocationMessageVisible: state=>state.restaurant.isAllocationMessageVisible,
      },
      actions: {
        setSelectedUsers,
        displayHeaderPart,
        setLowerHeaderActiveTab,
        setHeaderText,
        displayAllocationMessage,
        setAllocationMessage
      }
    },
    data() {
      return {
        showErrorMsg: false,
        tableNumber: "",
        displayRightIcon: true,
        userDisplayLeftSideSpace: true,
        isTableAddUsersPage: false,
        error: 'No user selected',
        tableId: '',
        dateInfoPreText: 'Unallocated since ',
        footerText: 'Allocate to Table',
      }
    },
    computed: {
      selectedUsers(){
        return this.users.filter(element=>element.selected === true)
          .map(element=>element.id);
      },

    },
    methods: {
      showAllocationKeypad(){
        sessionStorage.setItem('selectedUsers', this.selectedUsers);
        if (this.selectedUsers.length > 0) {
          this.setSelectedUsers(this.selectedUsers);
          this.$router.go('/add-users');
        }
        else {
          this.showErrorMsg = true;
        }
      },
      initializeLayout(){
        this.setLowerHeaderActiveTab(1);
      },
      clearAllocationMessage(){
        this.displayAllocationMessage(false);
        this.setAllocationMessage('');
      },
      clearError(){
        this.showErrorMsg = false;
      },
    },
    created(){
      var tableId = this.$route.params.id;
      if (tableId) {
        this.isTableAddUsersPage = true;
        this.tableId = tableId;
      }
      this.initializeLayout();
    }
  }
</script>

<style>
</style>
