<template>
  <div>
    <div class="displayTable">
      <div class="displayTable pr-8x" :class="paddingLeft">
        <div class="displayCell tickmark" v-show="showPaidAmount">
          <img src="/static/images/table-check.png">
        </div>
        <div class="displayCell tickmark" v-show="displayLeftSideSpace && !showPaidAmount">
          <img src="/static/images/tickmark.png" v-show="selected">
        </div>
        <div class="displayCell profilePic-md">
          <a><img :src="imageSrc" alt=""></a>
        </div>
        <div class="displayCell profileName-md">
          <a>{{fullName}}</a>
          <p class="allocation-state">{{userDateInfo}}</p>
        </div>
        <div class="displayCell profileAction-md" v-show="displayRightIcon && !showPaidAmount">
          <img :src="rightIcon" @click="iconClick"></div>
        <div class="displayCell profileAction-md" v-show="showPaidAmount">
          <label class="pull-right tc-green money-amount-text-size">{{formattedAmount}}</label>
        </div>
      </div>
    </div>

    <hr>
  </div>
</template>
<script type="text/babel">
  import bus from '../../helpers/event-utils/bus'
  export default {
    props: {
      imageSrc: {
        type: String, default: ''
      },
      firstName: {
        type: String, default: ''
      },
      lastName: {
        type: String, default: ''
      },
      dateInfoPreText: {
        type: String, default: ''
      },
      dateInfo: {
        default:''
      },
      displayRightIcon: {
        type: Boolean, default: false
      },
      displayLeftSideSpace: {
        type: Boolean, default: false
      },
      selected: {
        type: Boolean, default: false
      },
      showPaidAmount: {
        type: Boolean, default: false
      },
      amount: {
        type: Number, default: 0
      },
      isTablePage: {
        type: Boolean, default: false
      },
      userId:{
        type:String,default:''
      }
    },
    data() {
      return {
        rightIcon: '/static/images/add@2x.png'
      }
    },
    computed: {
      fullName(){
        return this.firstName + " " + this.lastName;
      },
      formattedAmount(){
        return this.amount.toFixed(2);
      },
      formattedUserDate(){
        if (!this.dateInfo || this.dateInfo == '') return '';
        var date = new Date(this.dateInfo);

        var hours = date.getHours();
        var minutes = date.getMinutes();
        if (hours < 10) hours = "0" + hours;
        if (minutes < 10) minutes = "0" + minutes;
        let result=`${hours}:${minutes}`
        return result;
      },
      userDateInfo(){
        return this.dateInfoPreText + this.formattedUserDate;
      },
      paddingLeft(){
        return this.displayLeftSideSpace ? 'pl-4x' : '';
      },

    },
    methods: {
      iconClick(){
        if (this.isTablePage) {
          this.deallocate();
        }
        else {
          this.markUser();
        }
      },
      deallocate(){
        bus.$emit('deallocate', this.userId, this.fullName);
      },
      markUser(){
        if (this.selected) {
          this.selected = false;
          this.rightIcon = '/static/images/add@2x.png';

        }
        else {
          this.selected = true;
          this.rightIcon = '/static/images/minus.png';
        }

      }
    },
    created(){
      if (this.isTablePage) {
        this.rightIcon = '/static/images/minus.png'
      }

    }
  }
</script>

<style>
</style>
