<template>
  <div>
    <lower-header :first-tab="firstTab" :second-tab="secondTab" :active-tab="header.lower.activeTab"
                  :first-tab-click="displayUnallocatedUsers" :second-tab-click="displayUsersAtTables"></lower-header>
    <router-view :style="customHeight"></router-view>
  </div>
</template>
<script lang="babel" type="text/babel">
  import HeaderParts from '../../helpers/constants/layout/HeaderParts'
  import HeaderTabs from '../../helpers/constants/layout/HeaderTabs'
  import {setHeaderText, displayHeaderPart,setHeaderColumns,setHeaderComponent} from './../../state/modules/header/actions'
  import lowerHeader from '../header/lowerHeader.vue'
  export default {
    vuex: {
      actions: {
        setHeaderText,
        displayHeaderPart,
        setHeaderComponent,
        setHeaderColumns,
      },
      getters:{
        header:state=>state.header,
        windowHeight:state=>state.header.windowHeight
      }
    },
    components:{lowerHeader},
    computed:{
      customHeight(){
        let contentHeight = this.windowHeight - this.header.height - this.header.lower.height;
        let result=`overflow-y: auto; height: ${contentHeight}px;`
        return result
      }
    },
    data(){
      return{
          firstTab:'Unallocated',
          secondTab:'At Table',
      }
    },
    methods: {
      displayUnallocatedUsers(){
        this.$router.go('/users/unallocated');
      },
      displayUsersAtTables(){
        this.$router.go('/users/allocated');
      },
      initializeHeaderLayout(){
        this.setHeaderText('Users');
        this.displayHeaderPart(HeaderParts.Left,true);
        this.displayHeaderPart(HeaderParts.Right,true);
        this.setHeaderComponent(HeaderParts.Left,'switchLeft');
        this.setHeaderComponent(HeaderParts.Right,'userInfo');
        this.setHeaderColumns(HeaderParts.Left,4);
        this.setHeaderColumns(HeaderParts.Middle,4);
        this.setHeaderColumns(HeaderParts.Right,4);
      },
    },
    created(){
      this.initializeHeaderLayout();
    }
  }
</script>

<style>
</style>
