<template>
  <div>
    <modal :show.sync="show" :on-close="closeModal" v-if="show">
      <div class=" modal-body">
        <div class="col-4 col-centered align-center">
          <p>{{deallocateMessage}}</p>
        </div>
        <hr>
        <div class="col-4 col-centered align-center">
          <button class="btn btn-lg btn-default" @click="closeModal">Cancel</button>
          <button class="btn btn-lg btn-default" @click="deallocateUser">Deallocate</button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script type="text/babel">
  import modal from '../../layout/modal.vue'
  import {deallocateCustomer} from './../../../state/modules/restaurant/actions'
  export default{
    vuex:{
      actions:{
        deallocateCustomer
      }
    },
    props: {
      show: {
        type: Boolean,
        default: false
      },
      userToDeallocate: {
        type: Object,
        default(){
          return {
            fullName: '',
            id:'',
          }
        }
      },
      tableNumber: {
        type: String,
        default: ''
      }
    },
    components: {modal},
    computed: {
      deallocateMessage(){
        if (this.userToDeallocate.fullName && this.tableNumber) {
          return `Deallocate ${this.userToDeallocate.fullName} from table ${this.tableNumber}`;
        }
        return '';
      }
    },
    data(){
      return {
        tableId: '',
      }
    },
    methods: {
      deallocateUser(){
        var removeCustomerObj = {
          CustomerId: this.userToDeallocate.id,
          TableId: this.tableId
        };
        this.deallocateCustomer(removeCustomerObj);
        this.show = false;
      },
      closeModal() {
        this.show = false;
      },
    },
    created(){
      this.tableId = this.$route.params.id;
    }
  }
</script>

<style>
</style>
