/* KeyPad*/

.displayNumberCell{
  width:100px;
  height:100px;
  border: 1px solid #8fb52d;
  border-radius:50px;
  float:none;
  margin: 10px auto;

}

.number{
  line-height:100px;
  position:relative;
  font-size:50px;
  font-weight:100;
  text-align:center;
  color:gray;
}

/*********/

/* Portrait */
@media only screen
and (min-width: 320px)
and (orientation: portrait) {

  .keypadMain .passwordEnterSec .inputFld input[type="password"] {
    font-size: 50px;
  }

  .keypadMain .tableEnterSec .inputFld input[type="text"] {
    font-size: 40px;
  }
}

/* Landscape */
@media only screen
and (min-width: 480px) and (orientation: landscape),
only screen and (min-width: 414px) and (orientation: portrait){

  .displayNumberCell {
    height: 40px;
    width: 40px;
  }

  .number {
    line-height: 40px;
    font-size: 25px;
  }
}

/* Portrait */
@media screen
and (min-width: 800px)
and (orientation: portrait) {
  .displayNumberCell { height: 90px; width: 90px; border-radius: 90px;}
  .number {line-height: 90px; font-size:50px;}
}

/* Landscape */
@media screen
and (min-width: 1280px)
and (orientation: landscape),
only screen and (min-width: 320px) and (orientation: portrait),
only screen and (min-width: 667px) and (orientation: landscape){
  .displayNumberCell { height: 50px; width: 50px;}
  .number {line-height: 50px; font-size:30px;}

}
