<template>
  <div>
    <div class="text-center" id="loading" v-if="loading">
      <img src="/static/images/ajax-loader.gif"/>
    </div>
    <div v-for="item in staffTablesArray" v-if="!loading">
      <div class="waiter-title">
        <div class="displayCell profilePic-md">
          <a>
            <img class="ml-3x"
                 :src="item.servantInfo.ServantAvatarUrl" alt="">
          </a>
        </div>
        <div class="displayCell profileName-md">
          <a class="ml-3x">{{item.servantInfo.ServantPreName}} {{item.servantInfo.ServantLastName}}</a>
        </div>
      </div>
      <hr>
      <table-preview v-for="table in item.tables" :table="table"
                     v-link="{ name: 'table', params: { id: table.id }}" class="clickable"></table-preview>
    </div>
  </div>
</template>
<script lang="babel" type="text/babel">
  import {setLowerHeaderActiveTab} from '../../../state/modules/header/actions'
  import tablePreview from '../table-preview.vue'
  import validTables from '../mixins/valid-tables'
  export default {
    vuex: {
      getters: {
        allTables: state=>state.restaurant.allTables,
        loading: state=>state.restaurant.loading.allTables
      },
      actions: {
        setLowerHeaderActiveTab,
      }
    },
    components: {tablePreview},
    mixins: [validTables],

    computed: {
      staffTablesArray(){
        var staffTables=new Map();
        var staffTablesArray=[];
        this.tables.forEach(table=> {
          let staffId = table.order.servantId;
          if (!staffTables.get(staffId)) {
            staffTables.set(staffId,{
              tables: [table],
              servantInfo: table.order.servantInfo
            });
          }
          else {
            var value=staffTables.get(staffId);
            value.tables.push(table);
            staffTables.set(staffId,value);
          }
        });
        for(var [key,value] of staffTables){
         staffTablesArray.push(value);
        }
        return staffTablesArray;
      },
    },
    methods: {
      initializeLayout(){
        this.setLowerHeaderActiveTab(2);
      }
    },
    created(){
      this.initializeLayout();
    }
  }
</script>

<style>
  .clickable{
    cursor:pointer;
  }
</style>
