<template>
  <div>
    <div class="text-center" id="loading" v-if="loading">
      <img src="/static/images/ajax-loader.gif"/>
    </div>
    <table-preview v-for="table in myTables" :table="table" v-link="{ name: 'table', params: { id: table.id }}" v-if="!loading"></table-preview>
  </div>
</template>
<script lang="babel" type="text/babel">
  import {setLowerHeaderActiveTab} from '../../../state/modules/header/actions'
  import tablePreview from '../table-preview.vue'
  import validTables from '../mixins/valid-tables'
  export default {
    vuex:{
      getters: {
        allTables: state=>state.restaurant.allTables,
        waiter: state=>state.restaurant.waiter,
        loading: state=>state.restaurant.loading.allTables
      },
      actions:{
        setLowerHeaderActiveTab
      }
    },
    components: {tablePreview},
    mixins:[validTables],
    computed:{
      myTables(){
        if(!this.tables){
          return [];
        }
        return this.tables.filter(table=>table.order.servantId==this.waiter.id);
      }
    },
    methods:{
      initializeLayout(){
        this.setLowerHeaderActiveTab(1);
      }
    },
    created(){
      this.initializeLayout();
    }
  }
</script>

<style>
</style>
