<template>
  <div>
    <lower-header :first-tab="firstTab" :second-tab="secondTab" :active-tab="header.lower.activeTab"
                  :first-tab-click="displayMyTables" :second-tab-click="displayAllTables"></lower-header>
    <router-view :style="customHeight"></router-view>
  </div>
</template>
<script lang="babel" type="text/babel">
  import HeaderParts from '../../../helpers/constants/layout/HeaderParts'
  import lowerHeader from '../../header/lowerHeader.vue'
  import {
    setHeaderText,
    setHeaderColumns,
    displayHeaderPart,
    setHeaderComponent
  } from '../../../state/modules/header/actions'
  export default {
    vuex: {
      actions: {
        setHeaderText,
        setHeaderColumns,
        displayHeaderPart,
        setHeaderComponent,
      },
      getters:{
        header:state=>state.header,
      }
    },
    components:{lowerHeader},
    data(){
      return{
        firstTab:'My',
        secondTab:'All',
      }
    },
    computed:{
      customHeight(){
        var contentHeight = this.header.windowHeight - this.header.height - this.header.lower.height;
        let result=`overflow-y: auto; height: ${contentHeight}px;`
        return result
      }
    },
    methods: {
      initializeHeaderLayout(){
        this.setHeaderText('Tables');
        this.displayHeaderPart(HeaderParts.Left, true);
        this.displayHeaderPart(HeaderParts.Right, true);
        this.setHeaderColumns(HeaderParts.Left, 4);
        this.setHeaderColumns(HeaderParts.Middle, 4);
        this.setHeaderColumns(HeaderParts.Right, 4);
        this.setHeaderComponent(HeaderParts.Left, 'switchLeft');
      },
      displayMyTables(){
        this.$router.go('/tables/my');
      },
      displayAllTables(){
        this.$router.go('/tables/all');
      }
    },
    created(){
      this.initializeHeaderLayout();
    }
  }
</script>

<style>
</style>
