.clear { clear:both; }

.floatLeft { float:left; }
.floatRight { float:right; }

.textLeft { text-align:left; }
.textCenter { text-align:center; }
.textRight { text-align:right; }

.displayInBlock { display:inline-block; }
.displayBlock { display:block; }
.displayTable { display:table; width:100%; padding-right:15px; }
.displayCell { display:table-cell; }

.heightFull { height:100%; }

.verticalTop { vertical-align:top; }
.verticalMiddle { vertical-align:middle; }
.verticalBottom { vertical-align:bottom; }