
@font-face {
	font-family: 'Helvetica LT Std';
	src: url('/static/fonts/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/HelveticaLTStd-Roman.woff') format('woff'),
	     url('/static/fonts/HelveticaLTStd-Roman.ttf')  format('truetype'),
	     url('/static/fonts/HelveticaLTStd-Roman.svg#Helvetica LT Std') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueLT Std Thin';
	src: url('/static/fonts/HelveticaNeueLTStd-Thin.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/HelveticaNeueLTStd-Thin.woff') format('woff'),
	     url('/static/fonts/HelveticaNeueLTStd-Thin.ttf')  format('truetype'),
	     url('/static/fonts/HelveticaNeueLTStd-Thin.svg#HelveticaNeueLT Std Thin') format('svg');
}
