/* Default responsiveness media queries */
/* big landscape tablets, laptops, and desktops */
/*   @media only screen and (min-width: 1024px) {

		.pageTitle-md {
			vertical-align: middle;
			padding: 19px 0;
			margin-left: -12px;
			white-space: nowrap;
		}
		.pageTitle-lg {
			vertical-align: middle;
			padding: 25px 0;
			margin-left: -6px;
			white-space: nowrap;
		}
		.loginScroll {margin-top:40px;}
		!*.table-top {
			padding-top: 20px;
		}*!
		.table-footer {
			padding-top: 10px;
			padding-bottom: 2px;
		}
		.allocationScroll {
			margin-top: 60px;
			padding: 5px 60px 5px 60px;
		}
		.scrollAlone {
			max-height: 300px;
			overflow-y: auto;
		}

		!*Tables*!
		.tableAllocation img {
			height: 50px;
		}
		.tableAllocation span b {
			font-size: 32px;
			padding-left: 10px;
		}
		.tableAllocation span {
			font-size: 28px;
		}
		.cell-content { width: 100% }
		.cell-content p img {
			height: 25px;
			margin: 5px 5px 5px 10px;
			width: 26px;
		}
		.cell-content p span {
			font-size: 18px;
			vertical-align: middle;
			line-height: 20px;
		}
		!*Tables*!

		!*NavBar*!
		.tables-pic img {
			width: 130px;
			height: 60px;
			margin-top: 14px;
			margin-bottom: 10px;
		}
		.pageTitle {
			vertical-align: middle;
			margin-top: 13px;
			white-space: nowrap;
		}
		.pageTitle h1 {
			font-size: 38px;
		}
		.avatar-pic img {
			border-radius: 60px;
			width: 60px;
			height: 60px;
			margin-top: 14px;
		}
		.message-pic img {
			border-radius: 60px;
			width: 60px;
			height: 60px;
			margin-top: 14px;
			margin-right: 15px;
		}
		.badge-header {
			bottom: 9px!important;
			right: 17px!important;

		}
		.backArrow {
			vertical-align: middle;
			padding: 12px 0;
		}
		!*NavBar*!
		!*Tables Status*!
		.pageTitle-md-lg {
			vertical-align: middle;
			padding: 24px 0;
			margin-left: -20px;
			white-space: nowrap;
		}
		.pageTitle-md-lg h1 {
			font-size: 34px;
		}

		.navigation-lg {
			height: 95px;
		}
		.table-status {
			font-size: 16px;
		}
		.tableAllocation-lg span {
			font-size: 26px;
		}
		.profileDetails {
			padding-top: 12px;
			margin-left: -15px;
		}
		.profileDetails div .displayCell a {
			color: #FFFFFF;
			font-size: 26px;
			margin-right: 10px;
		}
		.profileDetails div .displayCell {
			width: 55px;
			height: 55px;
		}
		.profileDetails div .displayCell a img {
			border-radius: 30px;
		}
		.tickmark img {
			width: 40px;
			height: 40px;
		}
		.profileAction-md {
			width: 60px;
			height: 60px;
			padding-left: 7px;
			vertical-align: middle;
		}
		#allocatedUsers {

			overflow-y: auto;
		}
		.orderDetails h4 {font-size: 24px;}
		.orderDetails {
			font-size: 24px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}


		.bg-grey { background-color: #ffffff;}
		!*Tables Status*!

	}*/

  @media only screen and (max-width:900px) {
    .tableEdit img { height: 30px; }

    .cell-content { width: 100% }
    /*.cell-content p img { height: 35px; margin: 5px 0 0 10px; }*/
    .cell-content p span { font-size: 16px; vertical-align: middle; line-height: 20px; }

    .backArrow { vertical-align: middle; padding: 10px 0; }

   /* .pageTitle { line-height: 10px; vertical-align: middle; padding: 20px 0; white-space: nowrap; }*/
    .pageTitle-lg { line-height: 10px; vertical-align: middle; padding: 20px 0; margin-left: 32px; white-space: nowrap; }

    .avatar-pic img { border-radius: 60px; width: 70px; height: 70px; margin-top: 4px; }
    .avatar-pic-sg img { border-radius: 60px; width: 70px; height: 70px; margin-top: 10px; float: right; }
    .message-pic img { border-radius: 60px; width: 70px; height: 70px; margin-top: 4px; }

    .profilePic-sm { width: 40px; height: 40px; }
    .profilePic-sm img { border-radius: 30px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1em; color: #777778; }
    .profileAction-sm { width: 41px; height: 41px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 30px; }
}

  @media only screen and (max-width:749px) {

    .backArrow { vertical-align: middle; padding: 10px 0; }

    /*.pageTitle { line-height: 10px; vertical-align: middle; padding: 20px 0; white-space: nowrap; }*/
    .pageTitle-md { line-height: 10px; vertical-align: middle; padding: 20px 0; margin-left: 28px; white-space: nowrap; }
    .pageTitle-lg { line-height: 10px; vertical-align: middle; padding: 20px 0; margin-left: 28px; white-space: nowrap; }

    .avatar-pic img { border-radius: 60px; width: 70px; height: 70px; margin-top: 4px; }
    .avatar-pic-sg img { border-radius: 60px; width: 70px; height: 70px; margin-top: 4px; float: right; }
    .message-pic img { border-radius: 60px; width: 70px; height: 70px; margin-top: 4px; }

    .loginScroll { padding-left: 40px; padding-right: 25px; }
    .loginScrollCnt { padding-left: 40px; padding-right: 25px; }

    .loginScroll .listRow { padding:20px 0; }
    .allocScroll .listRow { padding:20px 0; }

    .mCSB_inside > .mCSB_container { margin-right:20px; }

    .profilePic { width:85px; height:85px; }
    .profilePic img { border-radius:85px; }
    .profileName a { font-size:30px; }

    .profilePic-sm { width: 40px; height: 40px; }
    .profilePic-sm img { border-radius: 30px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1em; color: #777778; }
    .profileAction-sm { width: 41px; height: 41px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 30px; }

    .tableAllocation img { height: 30px; }
    .tableAllocation span { font-size: 18px; }
    .tableAllocation span b { font-size: 20px ; }
    .tableEdit img { height: 20px; }
    .tableMessage img { height: 20px; }

    /*.cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }*/
}

  @media only screen and (max-width:669px) {

    .keypadMain .keypadWraper { width:95%; }

    .backArrow { vertical-align: middle; padding: 5px 0; font-size: 35px; }
/*
    .pageTitle { line-height: 10px; vertical-align: middle; padding: 21px 0; white-space: nowrap; }*/
    .pageTitle-md { line-height: 10px; vertical-align: middle; padding: 20px 0; margin-left: 30px; white-space: nowrap; }
    .pageTitle-lg { line-height: 10px; vertical-align: middle; padding: 20px 0; margin-left: 30px; white-space: nowrap; }

    .profilePic { width: 65px; height: 65px; }
    .profilePic img { border-radius: 65px; }

}

  @media only screen and (max-width:550px) {

    .backArrow { vertical-align: middle; padding: 10px 0; }

    /*.pageTitle { vertical-align: middle; padding: 17.5px 0; text-align: center; white-space: nowrap; }*/
    .pageTitle-md {  vertical-align: middle; padding: 15px 0; margin-left: -15px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 24px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -15px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 15px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 22px; }

    .avatar-pic img { border-radius: 30px; width: 40px; height: 40px; margin-top: 10px; }
    .avatar-pic-sg img { border-radius: 30px; width: 40px; height: 40px; margin-top: 7px; float: right; }
    .message-pic img { border-radius: 30px; width: 40px; height: 40px; margin-top: 10px; }
    .tables-pic img { width: 90px; height: 40px; margin-top: 10px; }

    .loginScroll { padding-left:20px; padding-right:10px; }
    .loginScrollCnt { padding-left:25px; padding-right:10px; }
    .allocScroll { padding-left: 0; padding-right:10px; }

    .profilePic { width: 60px; height: 60px; }
    .profilePic img { border-radius: 40px; }

    .profilePic-sm { width: 40px; height: 40px; }
    .profilePic-sm img { border-radius: 30px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1em; color: #777778; }
    .profileAction-sm { width: 41px; height: 41px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 30px; }

    .profileDetails { padding-top: 10px; margin-left: -15px; }
    .profileDetails .displayCell { width: 45px; height: 45px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 10px; }
    .profileDetails img { border-radius: 40px; }

    .state span { font-size: 13px; }

    .sign img { height: 20px; }

    .addIcon { width: 45px; height: 45px; margin-left: 15px; margin-right: 15px; }

}

/* ----------- iPhone 4 and 4S  ----------- */

/* Portrait */
@media only screen
and (min-width: 320px)
and (orientation: portrait)
 {
    .backArrow {
      vertical-align: middle;
      padding: 5px 0;
    }
  .bottomBotton {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
  }

  .pageTitle h1 { font-size: 18px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }

    .profilePic { width: 40px; height: 40px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 8px; }
    .profileName a { font-size: 1em; }
	.profileName span { font-size: 20px;}

    .profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails { padding-top: 10px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails .displayCell a { color: #FFFFFF; font-size: 17px; margin-right: 5px; }
    .profileDetails .displayCell a img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .popover { top: 50px !important; width: 120px;  }
	.popover-content { padding: 8px 1px; }
	#logout h2 { font-size: 20px; }

	.navigation-lg {height: 65px;}

  .header-lower h1 { font-size: 20px; }

    .allocationScroll { margin-top: 5px; padding: 0 30px 0 30px; }

    .avatar-pic img { border-radius: 35px; width: 37px; height: 37px; margin-top: 12px; }
    .message-pic img { border-radius: 35px; width: 37px; height: 37px; margin-top: 12px; margin-right: 4px;}
    .tables-pic img { width: 80px; height: 37px; margin-top: 12px; }

    #scrollContent { padding: 0 100px 10px 30px; }

    .table-footer {font-size: 16px; }

   .badge { width: 15px; height: 15px; }
   	.badge-header { bottom: 10px;  right:5px;}
	.alert-lg { padding: 20px 0 20px 20px; white-space: normal; }

    .orderDetails { font-size: 14px; }
    .orderDetails h4 { font-size: 14px; }

	.cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }
}

/* Landscape */
@media only screen
and (min-width: 480px)
and (orientation: landscape) {

    .header-lower h1{ font-size: 25px;}
    .backArrow {
      vertical-align: middle;
      padding: 12px 0;
    }

    .pageTitle h1 { font-size: 26px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }

    .profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails { padding-top: 15px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .popover {
        top: 60px !important;
        width: 120px;
    }

    #logout h2 { font-size: 20px; }

    .allocationScroll { margin-top: 5px; padding: 0 15px 0 15px; }

    .avatar-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; margin-right: 4px;}

    .tables-pic img { width: 100px; height: 45px; margin-top: 15px; }

    .active-tab { border: 0; height: 3px; position: absolute; width: 100%; background: #ffffff; background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);  }

    .bottomBotton { height:35px; line-height:35px; font-size:22px; }

    #scrollContent { padding: 0 100px 10px 30px; }


	.table-footer { font-size: 16px;  }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }
    .tableMessage img { height: 17px; }

	.badge { width: 15px; height: 15px; }
    .badge-header { bottom: 10px; }
	.alert-lg { padding: 20px 0 20px 20px; white-space: normal;  }


    .orderDetails { font-size: 14px; }
    .orderDetails h4 { font-size: 16px; }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Landscape */
@media only screen
and (min-width: 568px)
and (orientation: landscape) {

    .backArrow {
       vertical-align: middle;
       padding: 12px 0;
     }

    .pageTitle h1 { font-size: 26px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 25px 0; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }

	.profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails .displayCell { width: 50px; height: 50px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 10px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .popover {
        top: 60px !important;
        width: 120px;
    }

    #logout h2 { font-size: 20px; }

    .allocationScroll { margin-top: 5px; padding: 0 40px 0 40px; }

    .avatar-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; margin-right: 4px;}

    .tables-pic img { width: 100px; height: 45px; margin-top: 15px; }

    .active-tab { border: 0; height: 3px; position: absolute; width: 100%; background: #ffffff; background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);  }

    .bottomBotton { height: 45px; line-height: 45px; font-size: 30px; }

    #scrollContent { padding: 0 100px 10px 30px; }



    .table-footer div span { padding-left: 150px; }


    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }
    .tableMessage img { height: 17px; }

	.badge-header { bottom: 10px; }
    .badge { width: 15px; height: 16px; }
	.alert-lg { padding: 20px 0 20px 20px; white-space: normal;}
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
and (min-width: 375px)
and (orientation: portrait) {


  .backArrow {
    vertical-align: middle;
    padding: 5px 0;
  }
  .bottomBotton {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
    .navigation-lg {height: 65px;}
	.profilePic { width: 50px; height: 50px; }
	.profileName span { font-size: 25px;}

    .pageTitle h1 { font-size: 22px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }


    .profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails { padding-top: 6px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .allocationScroll { margin-top: 5px; padding: 0 30px 0 30px; }

    .orderDetails { font-size: 14px; }
    .orderDetails h4 { font-size: 14px; }

    .avatar-pic img { border-radius: 40px; width: 40px; height: 40px; margin-top: 12px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 40px; width: 40px; height: 40px; margin-top: 12px; margin-right: 5px;}

    .tables-pic img { width: 90px; height: 40px; margin-top: 12px; }

    .table-footer { padding-bottom: 0;  }
    .table-footer div span {   padding-left: 50px; }
	.alert-lg { padding: 20px 20px 20px 20px; white-space: normal;  }
	.badge { width: 15px; height: 15px; }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }
    .tableMessage img { height: 17px; }


}

/* Landscape */
  @media only screen
  and (min-width: 667px)
  and (orientation: landscape) {

    .backArrow {
      vertical-align: middle;
      padding: 12px 0;
    }

    .pageTitle h1 { font-size: 26px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }

    .profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails {  margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .popover {
        top: 60px !important;
        width: 120px;
    }

    #logout h2 { font-size: 20px; }

    .allocationScroll { margin-top: 5px; padding: 0 50px 0 50px; }

    .avatar-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; margin-right: 4px;}

    .tables-pic img { width: 100px; height: 45px; margin-top: 15px; }

    .active-tab { border: 0; height: 3px; position: absolute; width: 100%; background: #ffffff; background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);  }

    .bottomBotton { height: 25px; line-height: 25px; font-size: 20px; }

    #scrollContent { padding: 0 100px 10px 30px; }


   .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 17px; margin: 0 5px 0 3px; }
    .cell-content p span { font-size: 13px; vertical-align: middle; }
    .tableMessage img { height: 17px; }


	.orderDetails { font-size: 14px; }
    .orderDetails h4 { font-size: 14px; }

	.badge-header { bottom: 10px; }

	.table-footer { padding-bottom: 0;  }

    .badge { width: 15px; height: 15px; }
	.alert-lg { padding: 20px 20px 20px 20px; white-space: normal;  }
}
/* ----------- iPhone 6+, Nexus 6 ----------- */

/* Portrait */
@media only screen
and (min-width: 414px)
and (orientation: portrait) {

	.profilePic { width: 60px; height: 60px; }
	.profileName span { font-size: 32px;}

	.bottomBotton {
		height: 50px;
		line-height: 50px;
		font-size: 40px;
	}

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 0 5px 0 3px; width:26px; }
    .cell-content p span { font-size: 16px; vertical-align: middle; }
    .tableMessage img { height: 25px; }
}

/* Landscape */
@media only screen
and (min-width: 736px)
and (orientation: landscape) {

    .backArrow { vertical-align: middle; padding: 12px 0; }

    .pageTitle h1 { font-size: 26px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 20px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 20px; }
    .pageTitle-lg {  vertical-align: middle; padding: 20px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 18px; }

    .profilePic-sm { width: 37px; height: 37px; }
    .profilePic-sm img { border-radius: 28px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 0.8em; color: #777778; }
    .profileAction-sm { width: 33px; height: 33px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 25px; }

    .profilePic-md { width: 45px; height: 45px; }
    .profilePic-md img { border-radius: 40px; }
    .profileName-md { margin-left: 4px; }
    .profileName-md a { font-size: 1.1em; color: #777778; }
    .profileAction-md { width: 40px; height: 40px; padding-left: 7px; }
    .profileAction-md img { border-radius: 40px; }

    .profileDetails { padding-top: 15px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 12px; }

    .popover {
        top: 60px !important;
        width: 120px;
    }

    #logout h2 { font-size: 20px; }

    .allocationScroll { margin-top: 5px; padding: 0 50px 0 50px; }

    .avatar-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 40px; width: 45px; height: 45px; margin-top: 16px; margin-right: 4px;}

    .tables-pic img { width: 100px; height: 45px; margin-top: 15px; }

    .active-tab { border: 0; height: 3px; position: absolute; width: 100%; background: #ffffff; background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);  }

    .bottomBotton { height:50px; line-height:50px; font-size:24px; }

    #scrollContent { padding: 0 100px 10px 30px; }


  /*  #unallocated { padding-top: 15px; }*/

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 0 5px 0 3px; width:26px; }
    .cell-content p span { font-size: 16px; vertical-align: middle; }
    .tableMessage img { height: 25px; }

}

/* ----------- Nexus 7 ----------- */

/* Portrait */
@media screen
and (min-width: 600px)
and (orientation: portrait){

    hr { margin: 20px 0 20px; }

    .navigation-lg { height: 90px; }

    .backArrow { vertical-align: middle; padding: 12px 0; }

    .bottomBotton { height:80px; line-height:80px; font-size:50px; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md { vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 30px; }
    .pageTitle-lg { vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 80px; height: 80px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName a { font-size: 1.7em; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 65px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.7em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 60px; height: 60px; padding-left: 7px; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 8px; margin-left: -15px; }
    .profileDetails div .displayCell { width: 55px; height: 55px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 26px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 30px; }


    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 0 5px 0 3px; width:26px; }
    .cell-content p span { font-size: 16px; vertical-align: middle; }
    .tableMessage img { height: 25px; }

    .cell-title { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8fb52d; width: 350px; padding-top: 20px; }
    .tableAllocation img { height: 30px; }
    .tableAllocation span { font-size: 22px; margin-left: 5px; }
    .tableAllocation span b { font-size: 28px!important; }
    .tableMessage a img { height: 30px; }
    .tableMessage a .badge { top: 12px; font-size: 15px; width: 16px; height: 16px; }

    .state span { font-size: 20px; }
    .sign { width: 40px; }

    .badge-header { bottom: 14px; right: 17px;  }

    .avatar-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 11px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 11px; margin-right: 15px;}

    .tables-pic img { width: 130px; height: 60px; margin-top: 14px; }

    .table-status { font-size: 16px; }
    .table-status p { padding-top: 0; padding-bottom: 2px; }

    .table-footer { padding-bottom: 2px;  }
    .table-footer div span { font-size: 28px; }

    .alert-lg{ font-size: 28px; }

    #logout h2 { font-size: 24px; }

    .orderDetails { font-size: 22px; }
    .orderDetails h4 { font-size: 24px; }

    #scrollContent { padding: 0 100px 10px 100px; }

    .allocationScroll { padding: 0 60px 0 60px; }

    #allocated { padding-top: 0; }

    .tableAllocation span b { font-size: 30px!important; }
    .tableAllocation span { font-size: 28px; margin-left: 5px; }
    .tableAllocation img { height: 30px; }
    .tableAllocation-lg span b { font-size: 36px; }
    .tableAllocation-lg span { font-size: 26px; }


}

/* Landscape */
@media screen
and (min-width: 960px)
and (orientation: landscape){


	 hr { margin: 20px 0 20px; }


    .navigation-lg { height: 90px; }

    .backArrow { vertical-align: middle; padding: 12px 0; }


    .bottomBotton { height:70px; line-height:70px; font-size:40px; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md { vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 30px; }
    .pageTitle-lg { vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 80px; height: 80px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName a { font-size: 1.7em; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 60px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.5em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 50px; height: 50px; padding-left: 7px; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 8px; margin-left: -15px; }
    .profileDetails div .displayCell { width: 55px; height: 55px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 26px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 30px; }


    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 0 5px 0 3px; width: 26px; }
    .cell-content p span { font-size: 16px; vertical-align: middle; }
    .tableMessage img { height: 25px; }

    .cell-title { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8fb52d; width: 350px; padding-top: 20px; }

    .tableAllocation span { font-size: 22px; margin-left: 5px; }
    .tableAllocation span b { font-size: 28px!important; }
    .tableMessage a img { height: 30px; }
    .tableMessage a .badge { top: 12px; font-size: 15px; width: 16px; height: 16px; }

    .state span { font-size: 20px; }
    .sign { width: 40px; }


    .badge-header { bottom: 14px; right: 17px; }

    .avatar-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 11px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 55px; width: 55px; height: 55px; margin-right: 15px; margin-top: 10px;}

    .tables-pic img { width: 120px; height: 55px; margin-top: 10px;  }

    .table-status { font-size: 16px; }
    .table-status p { padding-top: 0; padding-bottom: 2px; }

    .table-footer { padding-bottom: 2px;  }
    .table-footer div span { font-size: 28px; }
    .alert-lg{ font-size: 28px; }


    #logout h2 { font-size: 24px; }

    .popover-content{padding:8px 1px;}

    .orderDetails { font-size: 14px; position: absolute;}
    .orderDetails h4 { font-size: 16px; }

    #scrollContent { padding: 0 100px 10px 100px; }

    .allocationScroll {padding: 0 60px 0 60px; }

    .tableAllocation span b { font-size: 30px!important; }
    .tableAllocation span { font-size: 28px; margin-left: 5px; }
    .tableAllocation img { height: 45px; }
    .tableAllocation-lg span b { font-size: 36px; }
    .tableAllocation-lg span { font-size: 26px; }
}

/* ----------- iPad ----------- */

/* Portrait */
@media only screen
and (min-width: 768px)
and (orientation: portrait) {

   .header-lower h1{ font-size: 50px; }
    .navigation-lg { height: 95px; }

    .backArrow { vertical-align: middle; padding: 12px 0; }
    .displayNumberCell { height: 100px; width: 100px;}
    .number {line-height: 100px; font-size:50px;}

    .alert-message { width: 725px; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md { vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 34px; }
    .pageTitle-lg { vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 80px; height: 80px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName span { font-size: 40px; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 65px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.7em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 60px; height: 60px; padding-left: 7px; vertical-align: middle; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 12px; margin-left: -15px; }
    .profileDetails div .displayCell { width: 55px; height: 55px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 26px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 30px; }

    .state span { font-size: 20px; }

    .sign { width: 40px; }

    .badge-header { bottom: 12px; right: 17px;  }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 5px 5px 5px 10px; width: 26px; }
    .cell-content p span { font-size: 18px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 25px; }

    .cell-title { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8fb52d; width: 350px; padding-top: 20px; }
    .cell-title .tableAllocation img { height: 30px; }
    .cell-title .tableAllocation span { font-size: 20px; margin-left: 5px; }
    .cell-title .tableAllocation span b { font-size: 26px; }
    .cell-title .tableMessage a img { height: 30px; }
    .cell-title .tableMessage a .badge { top: 12px; font-size: 15px; width: 16px; height: 16px; }

    .avatar-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 14px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 14px; margin-right: 15px; }

    .tables-pic img { width: 130px; height: 60px; margin-top: 14px; }

    .table-status { font-size: 16px; }
    .table-status p { padding-top: 2px; padding-bottom: 2px; }

    .table-footer { padding-bottom: 2px; font-size: 30px;  }
    .table-footer div span { font-size: 28px; }
    .alert-lg{ font-size: 28px; }

	#logout h2 { font-size: 24px; }
    .tickmark img { width: 40px; height: 40px; }

    .price h4 { font-size: 25px; }

    .orderDetails { font-size: 24px;  bottom: 0; width: 100%; }
    .orderDetails h4 { font-size: 24px; }

    #scrollContent { padding: 0 100px 10px 100px; }

    .allocationScroll { padding: 0 60px 0 60px; }

    /*#unallocated { padding-top: 15px; }*/

    .tableAllocation span b { font-size: 32px; padding-left: 10px; }
    .tableAllocation span { font-size: 28px; }
    .tableAllocation img { height: 45px; }
    .tableAllocation-lg span b { font-size: 36px; }
    .tableAllocation-lg span { font-size: 26px; }
    .tableAllocation img {  height: 45px; }

    .waiter-tables { margin-bottom: 30px; }

}

/* Landscape */
@media only screen
and (min-width: 1024px)
and (orientation: landscape) {

    hr { margin: 20px 0 20px; }

    .navigation-lg { height: 95px; }
    .backArrow { vertical-align: middle; padding: 12px 0; }
    .header-lower h1{ font-size: 50px; }

    .bottomBotton { height: 100px; line-height: 100px; font-size: 60px; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 34px; }
    .pageTitle-lg {  vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 80px; height: 80px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName a { font-size: 1.7em; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 65px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.7em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 60px; height: 60px; padding-left: 7px; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 12px; margin-left: -10px; }
    .profileDetails div .displayCell { width: 55px; height: 55px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 26px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 30px; }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 25px; margin: 5px 5px 5px 10px; width: 26px; }
    .cell-content p span { font-size: 18px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 25px; }

    .cell-title { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #8fb52d; width: 500px; padding-top: 20px; }
    .cell-title .tableAllocation img { height: 40px; }
    .cell-title .tableAllocation span { font-size: 24px; margin-left: 5px; }
    .cell-title .tableAllocation span b { font-size: 30px; }
    .cell-title .tableMessage a img { height: 40px; }
    .cell-title .tableMessage a .badge { top: 13px; font-size: 15px; width: 16px; height: 16px; }

    .state span { font-size: 20px; }
    .sign { width: 40px; }


     .badge-header { bottom: 14px; right: 17px;  }

    .avatar-pic img { border-radius: 55px; width: 55px; height: 55px; margin-top: 8px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 55px; width: 55px; height: 55px; margin-right: 15px; margin-top: 8px; }

    .tables-pic img { width: 120px; height: 55px; margin-top: 8px; }

    .table-status { font-size: 16px; }
    .table-status p { padding-top: 2px; padding-bottom: 2px; }

    .table-footer {  padding-bottom: 2px; }
    .table-footer div span { font-size: 28px;  }
    .alert-lg{ font-size: 28px; }

    #logout h2 { font-size: 24px; }

    .tickmark img { width: 40px; height: 40px; }

    .price h4 { font-size: 25px; }

    .orderDetails { font-size: 24px; }
    .orderDetails h4 { font-size: 24px; }

    #scrollContent { padding: 0 100px 10px 100px; }

    .tableAllocation span b { font-size: 36px; }
    .tableAllocation span { font-size: 28px; }
    .tableAllocation-lg span b { font-size: 36px; }
    .tableAllocation-lg span { font-size: 26px; }
    .tableAllocation img {  height: 45px; }

}

/* ----------- Nexus 10 & Galaxy Tab 10 ----------- */

/* Portrait */
@media screen
and (min-width: 800px)
and (orientation: portrait) {
    hr { margin: 20px 0 20px; }
    .header-lower h1{ font-size: 50px; }
    .backArrow { vertical-align: middle; padding: 12px 0; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md { vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg { vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 38px; }
    .pageTitle-lg { vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 100px; height: 100px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName span { font-size: 3em; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 65px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.7em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 60px; height: 60px; padding-left: 7px; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 15px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 20px; }
    .sign { width: 40px; }

    .avatar-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 14px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 60px; width: 60px; height: 60px; margin-top: 14px; margin-right: 15px;}

    .tables-pic img { width: 130px; height: 60px; margin-top: 14px; }

    .bottomBotton { height: 90px; line-height: 90px;  font-size: 60px;  }

    #scrollContent { padding: 0 100px 10px 100px; }

    .tableAllocation span b { font-size: 36px; }
    .tableAllocation span { font-size: 28px; }

	.orderDetails { font-size: 24px; }
    .orderDetails h4 { font-size: 24px; }

	.table-footer {  font-size: 30px; }
    .alert-lg{ font-size: 30px; }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 30px; margin: 5px 5px 5px 10px; width: 32px; }
    .cell-content p span { font-size: 20px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 30px; }
    .tableAllocation img {  height: 45px; }
    .badge-header { bottom: 12px; right: 13px;  }
    .badge{ width: 20px; height: 20px; }
    .badge label{ font-size: 14px; }

}

/* Landscape */
@media screen
and (min-width: 1280px)
and (orientation: landscape) {
    hr { margin: 20px 0 20px; }
    .header-lower h1{ font-size: 50px; }
    .backArrow { vertical-align: middle; padding: 12px 0; }

    .pageTitle h1 { font-size: 38px; }
    .pageTitle-md {  vertical-align: middle; padding: 19px 0; margin-left: -12px; white-space: nowrap; }
    .pageTitle-md h1 { font-size: 38px; }
    .pageTitle-md-lg {  vertical-align: middle; padding: 19px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 38px; }
    .pageTitle-lg {  vertical-align: middle; padding: 25px 0; margin-left: -6px; white-space: nowrap; }
    .pageTitle-lg h1 { font-size: 38px; }

    .profilePic { width: 100px; height: 100px; }
    .profilePic img { border-radius: 60px; }
    .profileName { padding-left: 10px; }
    .profileName span { font-size: 3em; }

    .profilePic-sm { width: 55px; height: 55px; }
    .profilePic-sm img { border-radius: 50px; }
    .profileName-sm { padding-left: 4px; }
    .profileName-sm a { font-size: 1.2em; color: #777778; }
    .profileAction-sm { width: 55px; height: 55px; padding-left: 7px; }
    .profileAction-sm img { border-radius: 40px; }

    .profilePic-md { width: 65px; height: 65px; }
    .profilePic-md img { border-radius: 65px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 1.7em; color: #777778; }
    .profileName-md .allocation-state { font-size: 0.8em; }
    .profileAction-md { width: 60px; height: 60px; padding-left: 7px; }
    .profileAction-md img { border-radius: 60px; }

    .profileDetails { padding-top: 15px; margin-left: -18px; }
    .profileDetails .displayCell { width: 40px; height: 40px; }
    .profileDetails a { color: #FFFFFF; font-size: 18px; margin-right: 5px; }
    .profileDetails img { border-radius: 30px; }

    .state span { font-size: 20px; }
    .sign { width: 40px; }

    .avatar-pic img { border-radius: 65px; width: 65px; height: 65px; margin-top: 2px; }
    .avatar-pic-sg img { border-radius: 35px; width: 35px; height: 35px; margin-top: 12px; }

    .message-pic img { border-radius: 65px; width: 65px; height: 65px; margin-right: 15px; margin-top: 2px; }

    .tables-pic img { width: 150px; height: 65px; margin-top: 1px; }


    #scrollContent { padding: 0 100px 10px 100px; }

    .allocationScroll { padding: 0 80px 0 80px; }

    .tableAllocation span b { font-size: 36px; }
    .tableAllocation span { font-size: 28px; }
	.table-footer { font-size: 30px;  }
    .alert-lg{ font-size: 30px; }

	.orderDetails {	font-size: 22px; position: absolute; bottom: 0;	width: 100%;}
	.orderDetails { font-size: 24px; }
    .orderDetails h4 { font-size: 24px; }

    .badge-header { bottom: 20px; right: 15px;  }
    .badge{ width: 20px; height: 20px; }
    .badge label{ font-size: 14px; }

	.profileDetails div .displayCell a { color: #FFFFFF; font-size: 26px; margin-right: 10px;	}
	.tableAllocation-lg span b { font-size: 36px; }
	.tableAllocation-lg span { font-size: 26px; }
	.bottomBotton {	height: 90px;	line-height: 90px;	font-size: 60px;}

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 30px; margin: 5px 5px 5px 10px; width: 32px; }
    .cell-content p span { font-size: 20px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 30px; }
    .tableAllocation img {  height: 45px; }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait */
@media only screen
and (min-width: 1200px)
and (orientation: portrait) {

    .mt-2x{ margin-top: 15px; } /*Orders - the space between fields */
    .header-lower h1{ font-size: 50px; }
    .navigation-lg { height: 110px; }


    .avatar-pic img { border-radius: 75px; width: 75px; height: 75px; margin-top: 14px; }
    .message-pic img { border-radius: 75px; width: 75px; height: 75px; margin-top: 14px; margin-right: 15px;}
    .tables-pic img { width: 160px;   height: 75px;}

    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 34px; }

    .profilePic-md { width: 110px; height: 110px; }
    .profilePic-md img { border-radius: 110px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 2.2em; color: #777778; }
    .profileName-md .allocation-state { font-size: 1.3em; }
    .profileAction-md { width: 90px; height: 90px; padding-left: 7px; }
    .profileAction-md img { border-radius: 90px; }

    .profileDetails { padding-top: 10px; margin-left: -15px; }
    .profileDetails div .displayCell { width: 75px; height: 75px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 36px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 75px; }

    .badge-header { bottom: 14px; right: 14px;   }
    .badge{ width: 20px; height: 20px; }
    .badge label{ font-size: 14px; }


    .table-status p {  padding-bottom: 5px; }
    .table-status p img { height: 25px; }

    .table-footer {  padding-top: 15px; padding-bottom: 5px; }
    .table-footer div span { font-size: 38px; }
    .alert-lg{ font-size: 38px; }

    .orderDetails { font-size: 36px; }
    .orderDetails h4 { font-size: 36px; }
    .orderDetails sub { font-size: 18px; }

    .tableAllocation-lg span b { font-size: 46px; }
    .tableAllocation-lg span { font-size: 36px; }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 35px; margin: 5px 5px 5px 10px; width: 37px; }
    .cell-content p span { font-size: 25px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 35px; }
    .tableAllocation img {  height: 50px; }
}

/* Landscape */
@media only screen
and (min-width: 1600px)
and (orientation: landscape) {

    .mt-2x{ margin-top: 15px; } /*Orders - the space between fields */
    .header-lower h1{ font-size: 50px; }
    .navigation-lg { height: 110px; }

    .pageTitle-md-lg { vertical-align: middle; padding: 24px 0; margin-left: -20px; white-space: nowrap; }
    .pageTitle-md-lg h1 { font-size: 34px; }

    .profilePic-md { width: 110px; height: 110px; }
    .profilePic-md img { border-radius: 110px; }
    .profileName-md { margin-left: 10px; }
    .profileName-md a { font-size: 2.2em; color: #777778; }
    .profileName-md .allocation-state { font-size: 1.3em; }
    .profileAction-md { width: 90px; height: 90px; padding-left: 7px; }
    .profileAction-md img { border-radius: 90px; }

    .profileDetails { padding-top: 10px; margin-left: -15px; }
    .profileDetails div .displayCell { width: 75px; height: 75px; }
    .profileDetails div .displayCell a { color: #FFFFFF; font-size: 36px; margin-right: 10px; }
    .profileDetails div .displayCell a img { border-radius: 75px; }

    .badge{ width: 20px; height: 20px; }
    .badge label{ font-size: 14px; }

    .table-status p {  padding-bottom: 5px; }
    .table-status p img { height: 25px; }

    .table-footer { padding-top: 15px; padding-bottom: 0; }
    .table-footer div span { font-size: 38px; }
    .alert-lg{ font-size: 38px; }

    #allocatedUsers { padding-top: 20px;  }

    .orderDetails { font-size: 36px; }
    .orderDetails h4 { font-size: 36px; }
    .orderDetails sub { font-size: 18px; }

    .tableAllocation-lg span b { font-size: 46px; }
    .tableAllocation-lg span { font-size: 36px; }

    .cell-content p { margin-top: 4px; width: 100%; }
    .cell-content p img { height: 35px; margin: 5px 5px 5px 10px; width: 37px; }
    .cell-content p span { font-size: 25px; vertical-align: middle; line-height: 20px; }

    .tableMessage img { height: 35px; }

    .tableAllocation img {  height: 50px; }
}


