.restaurantsection {
	margin-bottom:20px;
}

.tables {
	text-align:center;
}

.tables > .table {
	width:calc(46% - 4px);
	height:120px;
	margin:10px 2%;
	border:2px solid grey;
	display:inline-block;
	position:relative;
	height:200px;
	vertical-align:top;
}

.tables > .table > .allocations > .allocation {
	padding:5px;
	vertical-align:top;
	display:inline-block;
	font-size:12px;
}

.tables > .table > .order {
	position:absolute;
	bottom:0px;
	height:100px;
	left:0px;
	right:0px;
	padding:5px 5px 5px 5px;
}

.tables > .table > .order > .name,
.tables > .table > .order > .pos,
.tables > .table > .order > .servant {
	font-size:10px;
	line-height:12px;
	text-align:left;
}

.tables > .table > .order > .closer {
	position:absolute;
	bottom:5px;
	right:5px;
}

.tables > .table > .order > .items { 
	text-align:center;
}

.tables > .table > .order > .items > .item {
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	padding:5px;
} 

.tables > .table > .order.active {
	background-color:#f8edc6;
}

.tables > .table.droppable {
	background-color:#bedfa8;
}

.tables > .table > .name {
	font-weight:bold;
	background-color:#f5f5f5;
	height:25px;
	line-height:25px;
}

.unassigned > .customer {
	display:inline-block;
	margin:5px;
	background-color:#f8f8f8;
	border:1px solid #f1f1f1;
	padding:5px 8px;
	height:20px;
	vertical-align:top;
	line-height:20px;
}