html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica LT Std';
  font-size: 16px;
  color: #797979;
  background: #fff;
  font-weight: 400;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  -ms-transition: width 1s ease;
  transition: width 1s ease;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #8fb52d;
}

::-moz-selection {
  color: #fff;
  background: #8fb52d;
}

input, select, textarea {
  font-family: 'Helvetica LT Std';
  color: #797979;
}

a, input, select, textarea {
  outline: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="button"], textarea, button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

a {
  color: #8fb52d;
  text-decoration: none;
}

a:hover {
  color: #A2CC37;
  color-opacity: 0.4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
  margin: 10px 0 10px;
  border-width: 1px;
  border-color: rgba(120, 120, 120, 0.15);
}

hr.green {
  border-color: rgba(143, 181, 45, 0.60);
  margin: 7px 0 7px;
  border-width: 1.5px;
}

/*** Header ***/

header {
  display: block;
  background: #f8f8f6;
  border-bottom: 1px solid #aeaba5;
}

header h1 {
  font-size: 40px;
  color: #8fb52d;
  text-align: center;
}

.header-lower h1 {
  text-align: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

.bg-grey {
  background-color: #f5f4f3;
}

.bg-white {
  background-color: #ffffff;
}

.navbar-fixed-top.bg-grey {
  position: relative;
}

.pageTitle {
  text-align: center;
  height: 100%;
  line-height: 10px;
  vertical-align: middle;
  padding: 20px 0;
  white-space: nowrap;
}

.headerNav {
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

.headerNav span {
  font-size: 15px;
  color: #8fb52d;
}

/*** Section - main ***/

section#main {
  display: block;
}

.no-pad {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.mt-2x {
  margin-top: 10px;
}

.mr-2x {
  margin-right: 10px;
}

.mt-3x {
  margin-top: 15px;
}

.mt-4x {
  margin-top: 20px;
}

.mt-9x {
  margin-top: 90px;
}

.pb-2x {
  padding-bottom: 10px;
}

.ml-2x {
  margin-left: 10px;
}

.pt-x{
  padding-top: 5px;
}
.pl-4x {
  padding-left: 20px;
}

.pr-8x {
  padding-right: 40px;
}

#scrollContent {
  padding: 0 100px 10px 20px;
}

.loginScroll {
  overflow-y: auto;
}

.loginScrollCnt {
  padding: 10px 100px 10px 100px;
}

.loginScroll .listRow {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #f0f0f0;
}

.allocationScroll {
  padding: 0 100px 0 100px;
}

.allocScroll {
  padding-top: 10px;
}

#unallocated-users-wrapper {
  padding-top: 20px;
}

.profilePic {
  width: 95px;
  height: 95px;
  border-radius: 95px;
  vertical-align: middle;
}

.profilePic img {
  border-radius: 95px;
  max-width: 100%;
  max-height: 100%;
}

.profilePic-sm {
  width: 40px;
  height: 40px;
}

.profilePic-sm img {
  border-radius: 30px;
}

.profileName-sm {
  padding-left: 4px;
  vertical-align: middle;
}

.profileName-sm a {
  font-size: 1em;
  color: #777778;
}

.profileAction-sm {
  width: 41px;
  height: 41px;
  padding-left: 7px;
}

.profileAction-sm img {
  border-radius: 30px;
}

.profilePic-md {
  width: 50px;
  height: 50px;
}

.profilePic-md img {
  border-radius: 40px;
}

.profileName-md {
  padding-left: 8px;
  vertical-align: middle;
  white-space: nowrap
}

.profileName-md a {
  font-size: 1.3em;
  color: #7c7c7d;
}

.profileAction-md {
  width: 45px;
  height: 45px;
  padding-left: 7px;
}

.profileAction-md img {
  border-radius: 35px;
}

.allocation-state {
  font-size: 0.6em;
  font-weight: bold;
  color: rgba(155, 155, 156, 0.8);
  margin-top: -3px;
}

.profileName {
  padding-left: 25px;
  vertical-align: middle;
}

.profileName span {
  font-size: 40px;
  color: #797979;
}

.addIcon {
  float: right;
  vertical-align: middle;
}

.addIcon a {
  font-size: 40px;
}

.sign {
  width: 35px;
}

.list-group-item {
  border: none;
}

.keypadMain {
  display: block;
  padding-bottom: 160px;
  font-family: 'HelveticaNeueLT Std Thin'; /*  padding:50px 30px 160px 30px; */
}

.keypadMain .keypadWraper {
  max-width: 670px;
  margin: 0 auto;
}

.keypadMain .passwordEnterSec {
  display: table;
  height: 10%;
  width: 100%;
}

.keypadMain .passwordEnterSec .inputFld {
  display: table-cell;
  width: 80%;
  height: 100%;
  vertical-align: middle;
}

.keypadMain .inputFld input[type="password"] {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  font-size: 60px;
}

.keypadMain .passwordEnterSec .backBtn {
  display: table-cell;
  width: 10%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.keypadMain .tableEnterSec {
  display: table;
  height: 10%;
  width: 100%;
}

.keypadMain .tableEnterSec .inputFld {
  display: table-cell;
  width: 80%;
  height: 100%;
  vertical-align: middle;
}

.keypadMain .inputFld input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  font-size: 60px;
}

.keypadMain .tableEnterSec .backBtn {
  display: table-cell;
  width: 10%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.keypadMain .numbersSec {
  display: block;
  float: none;
  margin: auto;
  bottom: 10px;
}

.keypadMain .numbersSec .displayTable {
  padding-bottom: 25px;
}

.keypadMain .numbersSec .displayTable .displayCell {
  text-align: center;
  vertical-align: middle;
}

.keyNumbr {
  width: 175px;
  height: 175px;
  line-height: 175px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #8fb52d;
  font-size: 86px;
  color: #4a4a4a;
}

.table-top {
  overflow: auto
}

.displayCell {
  vertical-align: middle;
}

.backArrow {
  font-size: 40px;
  color: #8fb52d;
  width: 85px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.backArrow2 {
  font-size: 40px;
  color: #8fb52d;
  width: 85px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.width85 {
  width: 85px;
}

.bottomBotton {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  line-height: 120px;
  background: #8fb52d;
  font-size: 70px;
  color: #fff;
  text-align: center;
  z-index: 10;
}

/*.bottomBotton:active {color: #A2CC37;  color-opacity: 0.4;}*/

.numbersSec .displayCell img {
  height: auto;
  width: 90%;
}

/*** Custom ***/
#scrollContent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ink {
  display: block;
  position: absolute;
  background: hsl(180, 40%, 80%);
  border-radius: 100%;
  transform: scale(0);
}

.ink.animate {
  animation: ripple 0.65s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.navigation {
  padding: 10px 0 10px;
  height: 50px;
  background: #545453;
  white-space: nowrap;
  position: relative;
}

.navigation-lg {
  /*padding: 10px 0 10px;*/
  height: 80px;
  background: #545453;
  white-space: nowrap;
  position: relative;
}

.navigation-xl {
  padding: 10px 0 10px;
  height: 100px;
  background: #545453;
  white-space: nowrap;
  position: relative;
}

.border-right {
  border-right: 1px solid #ffffff;
  padding: 4px;
}

.border-left {
  border-left: 1px solid #ffffff;
  padding: 4px;
}

.border-bottom {
  border-bottom: 1px solid #dcdcdc;
  padding: 4px;
}

.border-bottom-green {
  border-bottom: 1px solid #8fb52d;
  padding: 1px;
}

.border-top-green {
  border-top: 1px solid #8fb52d;
  width: 100%;
}

.divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  height: 30px;
  border-left: 1px solid white;
}

.tickmark {
  width: 10%;
  padding-right: 2%;
  padding-left: 2%;
}

.tickmark img {
  width: 20px;
  height: 20px;
}

.tab {
  position: relative;
  width: 100%;
}

.active-tab {
  border: 0;
  height: 3px;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  background: #ffffff;
  background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
}
.sum-line{
  height: 1px;
  background: rgb(200, 200, 200);;
  margin-left: 15px;
  margin-right: 30px;
}

.message-pic {
  position: relative;
}

.message-pic-sm {
  position: relative;
}

.table-header {
  height: 50px;
  background-color: #ffffff;
  white-space: nowrap;
  position: relative;
}

.waiter-title {
  clear: both;
  padding: 10px 0 0 10px;
}

.table-footer {
  background-color: #f5f4f3;
  color: #8fb52d;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  padding-top: 5px;
  z-index: 10;
}

.table-footer div span {
  padding-left: 75px;
  vertical-align: middle;
}

.table-top {
  padding-top: 10px;
}

.alert-lg {
  padding: 20px 20px 20px 20px;
  background: #e80002;
  text-align: center;
  white-space: nowrap;
  position: relative;
  color: #ffffff;
  width: 100%;
  margin: 0;
  z-index: 15;
}

.lowerUsersSection {
  margin-top: -15px;
  position: absolute;
  width: 100%;
}

#allocatedUsers {
  height: auto;
}

.messageList {
  font-size: 12px;

}

.messageHeader {
  font-size: 16px;
}

.mdl-badge {
  position: absolute;
  top: 2px;
  right: -10px;
  width: 100%;
}

.popover {
  top: 74px !important;
  /*width: 135px;*/
  /*height: 65px;*/
  background-color: #8eb42d;
}

#logout h2 {
  color: #ffffff;
}

#notification-number {
  margin: auto;
  padding: 2px 2px 2px 2px;
}

.tableMessage .badge {
  padding: 2px 2px 2px 2px;
  top: 0px;
}

.table-top .tableMessage .badge {
  top: 10px;
}

.badge {
  position: absolute;
  /*bottom: 12px;*/
  right: 10px;
  background-color: red;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.badge label {
  /*position: absolute;
    left: 3.80px;
    top: 0.35px;*/
  font-weight: lighter;
  /*margin-bottom:0;*/
}

.table-status {
  font-size: 12px;
  padding-top: 10px;
}

.table-status img {
  height: 15px;
  padding-right: 3px;
}

.tc-grey {
  color: #9b9b9c;
  font-weight: lighter;
}

.tc-white {
  color: #ffffff !important;
  font-weight: lighter;
}

.tc-green {
  color: #8fb52d;
}

.tc-red {
  color: #e80002;
}

.state {
  margin-left: 10px;
}

.text-under {
  position: absolute;
  right: 15px;
  font-size: 10px;
}

.alloc-status a {
  margin-left: 8px;
  color: #9b9b9c;
}

.big-span {
  font-size: 22px;
}

.small-span {
  font-size: 14px;
}

.allocScroll .listRow {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #f0f0f0;
}

.hr {
  border-width: 1.5px;
  border-color: rgba(120, 120, 120, 0.93);
}

.fixed {
  position: fixed;
  z-index: 1000;
  top: 26%;
}

.cell-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #8fb52d;
  width: 170px;
}

.tableAllocation span {
  color: #8fb52d;
}

.tableAllocation-md span {
  color: #8fb52d;
}

ul.list-inline > div > li > a:active {
  text-decoration-color: white;
  border-width: 50px;
}

.orderDetails {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.mt-lg-4x {
  margin-top: 80px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  pointer-events: none;
}

#user-popup-container > hr {
  margin: 0;
  background-color: white;
}

#user-popup-container > div {
  color: white;
  padding: 5px 10px;
}

#user-popup-container span {
  white-space: nowrap;
}

#logout > h2 {
  white-space: nowrap;
}

#logout > h2 > span {
  margin-left: 10px;
}

.table-detail-area {
  color: #797979;
}

label.money-amount-text-size {
  font-size: 22px;
}

.messageNavigation {
  position: fixed;
  right: 50px;
  box-shadow: 0px 15px 20px 0px #888888;
  overflow-x: hidden;
  overflow-y: auto;
  top: 80px;
  background-color: white;
}

.messageNavigation-content {
  background-color: white;
}

.messageMetadata {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
