<template>
  <div>
    <div class="alert alert-{{type}} text-center"
         v-show="show"
         transition="fade">
      <h3>
        <slot></slot>
      </h3>
    </div>
  </div>
</template>
<style>
  .fade-transition {
    transition: all 0.5s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }
  .fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
  }
</style>
<script lang="babel" type="text/babel">
  export default{
    props: {
      type: {default: 'success'},
      timeout:{default:3000},
      timeoutExpired:{
        default(){
        return ()=>{};
      }}
    },
    data(){
      return {
        show:true,
        transitionDuration:500
      }
    },
    methods:{
      waitForTransition(){
        setTimeout(()=>{
          this.timeoutExpired();
        },this.transitionDuration)
      },
      handleTimeout(){
        setTimeout(()=>{
          this.show=false;
          this.waitForTransition();
        },this.timeout-this.transitionDuration)
      }
    },
    ready(){
      if(this.timeout!=0){
        this.handleTimeout();
      }
    },

  }
</script>
