<template>
  <a id="allocateToTable " class="bottomBotton" @click="clickFunction">{{text}}</a>
</template>
<script>
  export default {
    props:['text','clickFunction']
  }
</script>

<style>
</style>
