<template>
  <div>
    <alert type="danger" timeout="0" v-if="showAlertMessage" :timeout-expired="clearError">
      {{errorMsg}}
    </alert>
    <div class="keypadMain">
      <div class="keypadWraper">
        <div class="passwordEnterSec">
          <div class="backBtn"></div>
          <div class="inputFld">
            <input maxlength="20" id="inputTableNumber" v-model="enteredText" disabled="" type="text" v-if="showText">
            <input maxlength="20" id="inputPassword" v-model="enteredText" type="password" disabled="" v-else>
          </div>
          <div class="backBtn" @click="deleteLastCharacter">
            <img src="/static/images/keypad-back.png">
          </div>
          <div class="clear"></div>
        </div>

        <div class="numbersSec col-lg-9 col-md-9 col-sm-10 col-xs-11">
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" v-for="digit in digits">
            <div class="displayNumberCell">
              <div class="number" @click="appendToPassword(digit)">{{digit}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<style>
  @import "./../../assets/css/components/keypad.css";
  .m-t-20 {
    margin-top: 20px;
  }

  .backBtn{
    cursor:pointer;
  }
</style>
<script lang="babel" type="text/babel">
  import alert from './alert.vue'
  export default{
    props:{enteredText:{},showText:{},errorMsg:{type:String}},
    components:{alert},
    data() {
      return {
        digits: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '*', '0', '/'],
      }
    },
    computed:{
      showAlertMessage(){
        return this.errorMsg!='' && this.errorMsg!=undefined;
      }
    },
    methods: {
      appendToPassword(digit){
        this.enteredText += digit;
      },
      deleteLastCharacter(){
        this.enteredText = this.enteredText.substring(0, this.enteredText.length - 1);
      },
    }
  }
</script>


