<template>
  <div class="backArrow"><a @click="clickFunction">&lt;</a></div>
</template>
<script type="text/babel">
  export default {
    vuex:{
      getters:{
        clickFunction:state=>state.header.backArrowFunction
      }
    }
  }
</script>

<style>
</style>
