<template>
  <div class="modal-mask scrollbar" id="style-3" @click="onClose" v-show="show"
       transition="modal">
    <div class="modal-wrapper">
      <div class="modal-container col-lg-6 col-md-8 col-sm-10 col-xs-11 col-centered" @click.stop>
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<style>
  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .2s ease;
    padding-bottom: 100px;
    overflow-y: scroll;
  }

  .modal-container {
    margin-top: 70px !important;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .2s ease;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
  }

  .modal-enter, .modal-leave {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

</style>
<script>
  export default{
    props: {
      show: {type: Boolean, default: false},
      onClose: {
        type: Function, default(){
          return ()=> {
          }
        }
      }
    }
  }
</script>
