<template>
  <a class="tables-pic">
    <img :src="imageSrc" alt="" @click="imageClick">
  </a>
</template>
<script type="text/babel">
  export default {
   data:function(){
     return {
       link:'/tables/my',
     }
   },
    computed:{
      currentImage(){
        var path=this.$route.path;
        if(path.startsWith('/users')) {
          return 'tables';
        }
        return 'users';
      },
      imageSrc(){
        var path=this.$route.path;
        if(path.startsWith('/users')) {
          return '/static/images/switch-tables.png';
        }
        return '/static/images/switch-users.png';
      }
    },
    methods:{
      imageClick(){
        if(this.currentImage=='tables'){
          this.$router.go('/tables/my');
        }
        else{
          this.$router.go('/users/unallocated');
        }
      }
    }
  }
</script>

<style>
</style>
