<template>
  <div class="pull-right mr-2x">
    <a id="messageIcon" class="message-pic" @click="toggleMessages">

      <img src="/static/images/message-icon.png" alt="" >
      <span id="notification-number" class="badge badge-header" v-show="showMessageCount">
        <label>{{messageCount}}</label>
      </span>
    </a>
    <a class="avatar-pic" data-toggle="popover" data-container="body" data-placement="bottom" @click="toggleLogoutModal">
      <img :src="waiter.avatar">
    </a>
    <messages v-if="displayMessages"></messages>
    <logout :waiter="waiterName" :show="showLogoutModal"></logout>
  </div>


</template>
<script type="text/babel" lang="babel">
  import messages from './../messages/messages.vue'
  import logout from './../Logout.vue'
  export default {
    vuex:{
      getters:{
        messageCount:state=>state.restaurant.messages.length,
        waiter:state=>state.restaurant.waiter
      }
    },
    components:{
      messages,
      logout
    },
    data(){
      return {
        displayMessages:false,
        showLogoutModal:false
      }
    },
    computed:{
      showMessageCount(){
        return this.messageCount>0;
      },
      waiterName(){
        if(!this.waiter) return '';
        let result=`${this.waiter.firstName} ${this.waiter.lastName}`
        return result
      }
    },
    methods:{
      toggleMessages(){
        this.displayMessages=!this.displayMessages;
      },
      toggleLogoutModal(){
        return this.showLogoutModal=!this.showLogoutModal;
      }
    },
  }
</script>

<style>
</style>
