<template>
  <div class="displayTable navigation header-lower">
    <div class="displayCell">
      <ul class="list-inline" id="tabs">
        <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right clickable" @click="firstTabClick">
          <div class="btn-nav btn-nav-prim tab unalloc">
            <a class="tab-link"><h1 class="tc-grey" :class="isFirstTabActive ?'tc-white':''">{{firstTab}}</h1></a>
            <div :class="firstTabActive"></div>
          </div>
        </li>
        <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-left clickable" @click="secondTabClick">
          <div class="btn-nav btn-nav-prim tab alloc">
            <a class="tab-link"><h1 class="tc-grey" :class="isFirstTabActive?'':'tc-white'">{{secondTab}}</h1></a>
            <div :class="secondTabActive"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script tb>
  import {setLowerHeaderHeight} from '../../state/modules/header/actions'
  export default {
    vuex: {
      actions: {
        setLowerHeaderHeight
      }
    },
    props: ['firstTab', 'secondTab', 'activeTab', 'firstTabClick', 'secondTabClick'],
    computed: {
      firstTabActive(){
        return this.activeTab === 1 ? 'active-tab' : '';
      },
      secondTabActive(){
        return this.activeTab === 2 ? 'active-tab' : '';
      },
      isFirstTabActive(){
        return this.activeTab === 1;
      }
    },
    methods: {
      handleResize(){
        var componentHeight = this.$el.clientHeight;
        this.setLowerHeaderHeight(componentHeight);
      }
    },
    ready: function () {
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize);
      this.setLowerHeaderHeight(0);
    }

  }
</script>

<style>
  .clickable {
    cursor: pointer;
  }
</style>
