<template>
  <header>
    <div class="navbar-fixed-top bg-grey">
      <div class="displayTable heightFull">
        <div class="displayCell">
          <div :class="leftColumnsClass">
            <component :is="leftSideComponent" v-show="showLeftSide"></component>
          </div>
          <div :class="middleColumnsClass">
            <div class="pageTitle"><h1>{{text}}</h1></div>
          </div>
          <div :class="rightColumnsClass" class="no-pad">
            <component :is="rightSideComponent" v-show="showRightSide"></component>
          </div>
        </div>
      </div>
    </div>
    <slot></slot>
  </header>
</template>
<script type="text/babel">
  import leftArrow from '../layout/leftArrow';
  import userInfo from '../layout/userInfo';
  import switchLeft from '../layout/switch'
  import {setUpperHeaderHeight} from '../../state/modules/header/actions'
  export default {
    vuex:{
      actions:{
        setUpperHeaderHeight
      }
    },
    props:['text','leftColumns','middleColumns','rightColumns','showLeftSide',
          'showRightSide','leftSideComponent','rightSideComponent'],
    components:{leftArrow,userInfo,switchLeft},
    computed:{
      leftColumnsClass(){
        return 'col-xs-'+this.leftColumns;
      },
      middleColumnsClass(){
        return 'col-xs-'+this.middleColumns;
      },
      rightColumnsClass(){
        return 'col-xs-'+this.rightColumns;
      }
    },
    methods:{
      handleResize(){
        var componentHeight=this.$el.clientHeight;
        this.setUpperHeaderHeight(componentHeight);
      }
    },
    ready: function () {
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize);
      this.setUpperHeaderHeight(0);
    }

  }
</script>

<style>
</style>
