<template>
  <div class="container container-table">
      <div class="row vertical-10p">
        <div  class="container">
          <div class="text-center col-sm-6 col-sm-offset-3">
            <h1>You are lost.</h1>
            <a v-link="{ path: '/'}" class="homeLink">Take me home.</a>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
  export default {
    name: 'NotFound'
  }
</script>

<style>
  .homeLink{
    font-size:40px;
  }
</style>
