<template>
  <div>
    <upper-header :text="header.text" :left-columns="header.leftColumns" :middle-columns="header.middleColumns"
                  :right-columns="header.rightColumns" :show-left-side="header.showLeftSide"
                  :show-right-side="header.showRightSide"
                  :left-side-component="header.leftSideComponent" :right-side-component="header.rightSideComponent">
    </upper-header>

    <router-view></router-view>
  </div>
</template>

<script type="text/babel" lang="babel">
  import store from '../state/store'
  import upperHeader from './header/upperHeader'
  import {setWindowHeight} from './../state/modules/header/actions'
  export default {
    name: 'App',
    vuex: {
      getters: {
        header: state=>state.header,
        overlayClass: state=>state.restaurant.loading.overlayClass
      },
      actions:{
        setWindowHeight
      }
    },
    store: store,
    components: {upperHeader},
    methods: {
      handleResize(){
        this.setWindowHeight(window.innerHeight);
      }
    },
    ready: function () {
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize);
      this.setWindowHeight(0);
    }
  }
</script>
<style>
  @import "/static/css/bootstrap.min.css";
  @import "./../assets/css/fonts.css";
  @import "./../assets/css/style.css";
  @import "./../assets/css/default.css";
  @import "./../assets/css/responsive.css";
  @import "./../assets/css/font-awesome.css";
</style>
