<template>
  <div>
    <keypad :entered-text.sync="password" :show-text="showText" :error-msg="errorMsg"></keypad>
    <footer-lower :text="footerText" :click-function="login"></footer-lower>
  </div>
</template>

<style>
</style>
<script lang="babel" type="text/babel">
  import keypad from './layout/keypad.vue'
  import HeaderParts from '../helpers/constants/layout/HeaderParts'
  import {setAuthenticated, setToken, authenticate} from './../state/modules/auth/actions'
  import {setWaiter, initializeSignalREvents} from './../state/modules/restaurant/actions'
  import {setHeaderText, displayHeaderPart, setHeaderComponent} from './../state/modules/header/actions'
  import {AuthScope, SessionContext} from '../services/service'
  import footerLower from './layout/footer.vue'
  export default{
    vuex: {
      actions: {
        setAuthenticated,
        setToken,
        setWaiter,
        setHeaderText,
        displayHeaderPart,
        setHeaderComponent,
        initializeSignalREvents,
        authenticate
      }
    },
    components: {keypad, footerLower},
    data() {
      return {
        waiterId: '',
        password: '',
        showText: false,
        errorMsg: '',
        footerText: 'OK'
      }
    },
    methods: {
      login(){
        if(this.password.length==0){
          this.errorMsg="Please enter password"
          return;
        }
        var authData = {
          password: this.password,
          scope: AuthScope.Pos,
          userName: this.waiterId,
          clientId: SessionContext.getClientId()
        };
        this.authenticate(authData, ()=> {
          this.initializeSignalREvents();
          this.$router.go('/users/unallocated');
        }, ()=> {
          this.errorMsg = 'Invalid Password';
          this.displayAlertMessage=true;
        });
      },
      initializeHeaderLayout (){
        this.setHeaderText('Enter Password');
        this.displayHeaderPart(HeaderParts.Left, true);
        this.displayHeaderPart(HeaderParts.Right, false);
        this.setHeaderComponent(HeaderParts.Left, 'leftArrow');
      },
      goBack(){
        window.history.back();
      }
    },
    created(){
      this.waiterId = this.$route.params.id;
      this.initializeHeaderLayout();
    },
  }
</script>

