<template>
  <div>
    <div class="popover bottom in logoutPopover" v-if="show" transition="fade">
      <div class="arrow">
      </div>
    <div class="popover-content">
      <div id="user-popup-container">
        <div>
          <span>{{waiter}}</span>
        </div>
        <hr>
        <div>
          <a id="logout" @click="logout">
            <h2>
              <i class="fa fa-power-off"></i>
              <span>Logout</span>
            </h2>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
<style>
  .logoutPopover{
    top: 42px;
    width:140px;
    display: block;
    right:-10px;
    left:inherit;
  }
  .fade-transition {
    transition: all 0.4s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }
  .fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
  }

</style>
<script>
  export default{
    props:['waiter','show'],
    methods:{
      closeModal() {
        this.show = false;
      },
      logout(){
        this.$router.go('/');
      }
    }
  }
</script>
