<template>
  <div>
    <div id="user-message-wrapper" class="">
      <div class="alert alert-success text-center" v-show="showAllocationMessage">
        <h3>{{selectedUsers.length}} Tastier users allocated to table no. {{tableNumber}} / 1</h3>
      </div>
    </div>
    <div id="user-message-error-wrapper" class="alert alert-danger text-center no-margin no-pad" v-show="displayError">
      <h3>{{error}}</h3>
    </div>
    <div class="text-center" id="loading" v-if="loading"><img src="/static/images/ajax-loader.gif"/></div>
    <div id="unallocated-users-wrapper" v-show="!loading">
      <user v-for="user in users" :user-id="user.id" :image-src="user.avatar"
            :first-name="user.preName" :last-name="user.lastName"
            :date-info="user.unallocatedSince" :date-info-pre-text="dateInfoPreText"
            :display-right-icon="displayRightIcon" :display-left-side-space="userDisplayLeftSideSpace"
            :selected.sync="user.selected"></user>
    </div>
    <footer-lower :text="footerText" :click-function="allocateUsers"></footer-lower>
  </div>

</template>
<script type="text/babel" lang="babel">
  import HeaderParts from '../../helpers/constants/layout/HeaderParts'
  import ErrorTypes from '../../helpers/constants/layout/ErrorTypes'
  import {
    displayHeaderPart,
    setLowerHeaderActiveTab,
    setHeaderText,
    setHeaderComponent
  } from './../../state/modules/header/actions'
  import {allocateUsersToTable, setError, setAllocationMessage} from './../../state/modules/restaurant/actions'
  import user from './../users/user.vue'
  import footerLower from './../layout/footer.vue'
  export default {
    vuex: {
      getters: {
        currentTable: state=>state.restaurant.currentTable,
        users: state=>state.restaurant.unallocatedUsers,
        loadingAddUsers: state=>state.restaurant.loading.addUsers,
        loadingUnallocated: state=>state.restaurant.loading.unallocated,
        error: state=>state.restaurant.errors.addUsersError
      },
      actions: {
        displayHeaderPart,
        setLowerHeaderActiveTab,
        setHeaderText,
        setHeaderComponent,
        allocateUsersToTable,
        setError,
        setAllocationMessage
      }
    },
    components: {user, footerLower},
    data(){
      return {
        tableId: '',
        displayRightIcon: true,
        initialSelectedValue: false,
        userDisplayLeftSideSpace: true,
        dateInfoPreText: 'Unallocated since '
      }
    },
    computed: {
      tableNumber(){
        if (!this.currentTable) {
          return '';
        }
        return this.currentTable.tableNumber;
      },
      footerText(){
        var text = `Allocate to Table ${this.tableNumber}/1`;
        if (!this.tableNumber) {
          return 'Allocate to Table'
        }
        return text;
      },
      selectedUsers(){
        return this.users.filter(element=>element.selected === true)
          .map(element=>element.id);
      },
      displayError(){
        return !!this.error;

      },
      loading(){
        return this.loadingAddUsers || this.loadingUnallocated;
      }
    },
    methods: {
      initializeLayout(){
        this.setHeaderText('Add Users');
        this.setError(ErrorTypes.AddUsersError, '');
      },
      allocateUsers(){
        var tableObj = {
          CustomerIds: this.selectedUsers,
          TableNumber: this.tableNumber,
          TableId: null
        };
        return this.allocateUsersToTable(tableObj, this.successCallBack);
      },
      successCallBack(){
        this.$router.go({name: 'table', params: {id: this.tableId}})
      }
    },
    created(){
      this.tableId = this.$route.params.id;
      this.initializeLayout();
    }
  }
</script>

<style>
</style>
