<template>
  <div>
    <div class="displayTable mt-2x">
      <div class="displayCell col-xs-6">
        <h4 class="pull-left" style="font-weight: bold;">Orders</h4>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right"></span>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right" id="orderPrices" style="font-weight: bold;">{{Totals.orderPrice}}</span>
      </div>
    </div>
    <div class="displayTable mt-2x tc-green">
      <div class="displayCell col-xs-6">
        <h4 class="pull-left">Tastier</h4>
      </div>
      <div class="displayCell col-xs-3" id="tastier-tip-section">
        <span class="pull-right" id="tastierTip">{{Totals.tastierTip}}</span>
        <sub class="text-under" v-show="showTastierTipTextUnder">Tip</sub>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right" id="tastier-paid">{{Totals.tastierPaid}}</span>
      </div>
    </div>
    <div class="displayTable mt-2x">
      <div class="displayCell col-xs-6">
        <h4 class="pull-left">Others</h4>
      </div>
      <div class="displayCell col-xs-3" id="others-tip-section">
        <span class="pull-right" id="othersTip">{{Totals.othersTip}}</span>
        <sub class="text-under" v-show="showOthersTipTextUnder">Tip</sub>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right" id="others-paid">{{Totals.othersPaid}}</span>
      </div>
    </div>
    <div class="mt-2x sum-line"></div>
    <div class="displayTable mt-2x">
      <div class="displayCell col-xs-6">
        <h4 class="pull-left">Total Payment</h4>
      </div>
      <div class="displayCell col-xs-3" id="total-tip-section">
        <span class="pull-right" id="totalTip">{{Totals.totalTip}}</span>
        <sub class="text-under ">incl. Tip</sub>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right" id="total-paid">{{Totals.totalPaid}}</span>
        <sub class="text-under ">excl. Tip</sub>
      </div>
    </div>
    <div class="displayTable mt-2x pb-2x pt-x tc-red bg-grey">
      <div class="displayCell col-xs-6">
        <h4 class="pull-left" style="font-weight: bold;">Total</h4>
      </div>
      <div class="displayCell col-xs-3">
        <span class="pull-right"></span>
      </div>
      <div class="displayCell col-xs-3">

        <span class="pull-right" id="price-left-to-pay-no-tip"
              style="font-weight: bold;">{{Totals.leftToPayNoTip}}</span>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
    props: {
      order: {
        default(){
          return {
            payments: [],
            currentPercentagePaid: 0,
            items: [],
            orderTotals: {
              Total: 0,
              AlreadyPaidConsumptionTastier: 0,
              AlreadyPaidTastierTips: 0,
              AlreadyPaidConventionalConsumption: 0,
              AlreadyPaidConventionalTips: 0,
              PosAmendPayment: 0,
              OutstandingAmount: 0
            }
          }
        }
      }
    },
    computed: {
      payments(){
        return this.order.payments;
      },
      Totals(){
        var orderTotals = this.order.orderTotals;
        var tastierTip = orderTotals.AlreadyPaidTastierTips, othersTip = orderTotals.AlreadyPaidConventionalTips;
        tastierTip = tastierTip == 0 ? '-' : `+${tastierTip.toFixed(2)}`;
        othersTip = othersTip == 0 ? '-' : `+${othersTip.toFixed(2)}`;
        return {
          orderPrice: orderTotals.Total.toFixed(2),
          tastierPaid: orderTotals.AlreadyPaidConsumptionTastier.toFixed(2),
          tastierTip: tastierTip,
          othersPaid: orderTotals.AlreadyPaidConventionalConsumption.toFixed(2),
          othersTip: othersTip,
          posAmend: orderTotals.PosAmendPayment.toFixed(2),
          totalPaid: this.totalPaidValue.toFixed(2),
          totalTip: this.totalTipValue.toFixed(2),
          leftToPayNoTip: this.leftToPayNoTipValue.toFixed(2)
        }
      },
      showTastierTipTextUnder(){
        return this.Totals.tastierTip != '-';

      },
      showOthersTipTextUnder(){
        return this.Totals.othersTip != '-';

      },
      totalPaidValue(){
        var orderTotals = this.order.orderTotals;
        return orderTotals.AlreadyPaidConsumptionTastier + orderTotals.AlreadyPaidConventionalConsumption + orderTotals.PosAmendPayment;
      },
      totalTipValue(){
        var orderTotals = this.order.orderTotals;
        return orderTotals.AlreadyPaidTastierTips + orderTotals.AlreadyPaidConventionalTips + this.totalPaidValue;
      },
      leftToPayNoTipValue(){
        if (!this.order)return 0;
        var orderTotals = this.order.orderTotals;
        return orderTotals.Total - orderTotals.AlreadyPaidConsumptionTastier - orderTotals.AlreadyPaidConventionalConsumption - orderTotals.PosAmendPayment;
      },
    }
  }
</script>

<style>
</style>
