<template>
  <div class="row navigation-lg">
    <div class="list-inline">
      <!--table header section-->
      <div class="col-xs-4">
        <div class="displayCell table-status pl-4x tc-white">
          <p class="table-ticket">
            <img src="/static/images/table-ticket-white.png" alt="">
            <span v-show="displayInfo">{{tableTicket}}</span>
          </p>
          <p class="table-time">
            <img src="/static/images/table-time-white.png" alt="">
            <span v-show="displayInfo">{{tableTime}}</span>
          </p>
          <p class="table-users">
            <img src="/static/images/table-users-white.png" alt="">
            <span v-show="displayInfo">{{tableUserCount | pluralize ' Tastier User'}}</span>
          </p>
        </div>
      </div>
      <div class="text-center col-xs-4">
        <div class="tableAllocation-lg tc-white mt-3x">
          <span id="table-header-number" v-show="displayInfo"><b>{{tableNumber}}</b> / 1</span>
        </div>
      </div>
      <div class="col-xs-4 profileDetails">
        <div class="pull-right">
          <div class="displayCell">
            <a id="table-header-servant-name" v-show="displayInfo">{{waiterName}}</a>
          </div>
          <div class="displayCell">
            <a  v-show="displayInfo">
              <img id="table-header-servant-image" alt="" :src="waiterImage">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="babel" type="text/babel">
  import {setLowerHeaderHeight} from './../../state/modules/header/actions'
  export default {
    vuex: {
      actions: {
        setLowerHeaderHeight
      }
    },
    props:['tableNumber','tableUserCount','tableTime','tableTicket','waiterImage','waiterName','displayInfo'],
    methods: {
      handleResize(){
        var componentHeight = this.$el.clientHeight;
        this.setLowerHeaderHeight(componentHeight);
      }
    },
    ready: function () {
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize);
      this.setLowerHeaderHeight(0);
    }
  }
</script>

<style>
</style>
