<template>
  <div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div id="table72">
        <div class="table-top">
          <div class="tableAllocation pull-left">
            <img src="/static/images/table-green.png" alt="">
            <span>
              <b>{{table.name}}</b> / 1</span>
          </div>
          <div class="tableMessage pull-right">
            <img src="/static/images/comment.png" alt="">
            <span class="badge" v-show="hasMessages">
              <label>{{tableMessageCount}}</label>
            </span>
          </div>
        </div>
      </div>
      <div class=" border-top-green"></div>
      <div class="displayCell table-detail-area cell-content">
        <p class="table-ticket"><img src="/static/images/table-ticket.png" alt="">
          <span>{{posOrderId}}</span>
        </p>
        <p class="table-time"><img src="/static/images/table-time.png" alt="">
          <span>{{tableTimeText}}</span>
        </p>
        <p class="table-users">
          <img src="/static/images/table-users.png" alt="">
          <span>{{tableUserCount | pluralize ' Tastier User'}}</span>
        </p>
        <p class="table-check">
          <img src="/static/images/money.png" alt="">
          <span>{{total}} CHF</span>
        </p>
      </div>
    </div>
  </div>
</template>
<style>

</style>
<script>
  import tableTime from './mixins/table-time'
  import tableTicket from './mixins/table-ticket'
  import tableUserCount from './mixins/table-users-count'
  export default{
    props: {
      table: {
        default(){
          return {
            order: null,
            tableNumber: '',
            name: ''
          }
        }
      }

    },
    mixins: [tableTime, tableTicket, tableUserCount],
    computed: {
      currentTable(){
        return this.table;
      },
      order(){
        return this.table.order;
      },
      total(){
        if(!this.order) {
          return 0;
        }
        if(!this.order.orderTotals) return 0;
        var orderTotals=this.order.orderTotals;
        var total= orderTotals.Total-orderTotals.AlreadyPaidConsumptionTastier-orderTotals.AlreadyPaidConventionalConsumption;
        return total.toFixed(2);
      },
      tableMessageCount(){
        if (this.currentTable) {
          return this.currentTable.tableMessages.length;
        }
        return 0;
      },
      hasMessages(){
        return this.tableMessageCount > 0;
      }
    }

  }
</script>
