<template xmlns:v-el="http://www.w3.org/1999/xhtml">
  <div>
    <div id="table-message-error-wrapper" class="alert alert-danger text-center no-margin no-pad" v-show="invalidTable">
      <h3>{{error}}</h3>
    </div>
    <div class="text-center" id="loading" v-show="loading"><img src="/static/images/ajax-loader.gif"/></div>
    <div id="allocatedUsers" :style="tableUsersCustomHeight" v-show="!loading" v-el:allocated-users>
      <user v-for="user in tableUsersWithPayments" :user-id="user.user.id" :image-src="user.user.avatar"
            :first-name="user.user.preName" :last-name="user.user.lastName"
            :date-info="getUserDateInfo(user)" :selected.sync="user.user.selected"
            :date-info-pre-text="getDateInfoPreText(user)"
            :display-right-icon="userdisplayRightIcon" :display-left-side-space="userDisplayLeftSideSpace"
            :show-paid-amount="user.isPaidFor" :amount="user.sumPaid" :is-table-page="isTablePage"></user>
    </div>
    <div class="lowerUsersSection orderDetails" :style="lowerSectionStyle" v-if="!loading && !invalidTable" v-el:lower-section>
      <div id="add-user-to-table" class="displayTable table-footer pr-8x" v-show="!tableMessage.display && !orderPayed"  v-link="addUserLink">
        <div class="displayCell text-center">
          <span>Add Tastier User</span>
        </div>
        <div class="displayCell profileAction-md">
          <a class="addUserAnchor">
            <img src="/static/images/add@2x.png" alt="Add user">
          </a>
        </div>
      </div>
      <div class="alert-box" v-show="tableMessage.display">
        <div class="row alert-lg"><p>{{tableMessage.text}}</p></div>
      </div>
      <!-- payment area begins here -->
      <order-totals :order="order" v-show="!loading"  v-el:order-totals></order-totals>
    </div>
  </div>
</template>
<script lang="babel" type="text/babel">
  import orderTotals from './order-totals.vue'
  import user from './../users/user'
  import tableUserCountMixin from './mixins/table-users-count'
  import tableOrderMixin from './mixins/table-order'
  import BillType from '../../helpers/constants/data/BillType'
  import TableMessageType from '../../helpers/constants/data/TableMessageType'
  import {setHeaderText} from '../../state/modules/header/actions'
  export default{
    vuex: {
      getters: {
        currentTable: state => state.restaurant.currentTable,
        error: state=>state.restaurant.errors.tableStatusError,
        loadingTable: state=>state.restaurant.loading.table,
        header: state=>state.header
      },
      actions: {
        setHeaderText
      }
    },
    mixins: [tableUserCountMixin, tableOrderMixin],
    data(){
      return {
        userDisplayLeftSideSpace: true,
        userdisplayRightIcon: true,
        isTablePage: true,
        lowerSectionHeight: 0
      }
    },
    components: {
      user, orderTotals
    },
    computed: {
      domUpdated(){
        return !!this.currentTable;

      },
      addUserLink(){
        if (this.currentTable) {
          return {name: 'table-add-users', params: {id: this.currentTable.id}}
        }
        return '';
      },
      tableMessage(){
        var message = {
          display: false,
          text: ''
        };
        if (!this.currentTable) return message;
        var tableMessages = this.currentTable.tableMessages;
        if (tableMessages) {
          if (tableMessages.length > 0) {
            var messages = tableMessages[0].messages;
            if (messages.length > 0) {
              message.display = true;
              message.text = messages[0];
            }
          }
        }
        return message;
      },
      tableMessageType(){
        var msgType=TableMessageType.Undefined;
        if(!this.currentTable) return msgType;
        this.currentTable.tableMessages.forEach((message)=>{
          msgType = message.type;
        })
        return msgType;
      },
      invalidTable(){
        return !!(!this.currentTable && !this.loadingTable && this.error!='');

      },
      loading(){
        if (!this.loadingTable && !this.domUpdated && this.invalidTable) {
          return false;
        }
        return this.loadingTable || this.invalidTable || !this.domUpdated;
      },
      lowerSectionStyle(){
        var orderTotalsElement = this.$els.orderTotals;
        if (orderTotalsElement) {
          var orderDetailsHeight = orderTotalsElement.clientHeight;
          return 'bottom: ' + orderDetailsHeight + 'px';
        }
        return '';
      },
      tableUsersCustomHeight(){
        var contentHeight = this.header.windowHeight - this.header.height - this.header.lower.height - this.lowerSectionHeight;
        return 'overflow-y: auto; '+
               'max-height: ' + contentHeight + 'px';

      },
      tableUsersWithPayments(){
        this.tableUsers.forEach((user)=> {
          user.isPaidFor = false;
          user.sumPaid = 0;
          user.paidAt = new Date();
          user.paidByAnotherUser = false;
          this.order.payments.forEach((payment)=> {
            var matchedPayment = payment.paidFor.filter((paidFor)=>paidFor.Id == user.user.id);
            if (payment.billType == BillType.Everything ||  (payment.billType == BillType.External
                 && this.tableMessageType === TableMessageType.CloseTable || this.tableMessageType === TableMessageType.OrderClosed)) {
              user.isPaidFor = true;
            }

            if (matchedPayment.length != 0) {
              var paidFor = matchedPayment[0];

              if (payment.billType == BillType.Split) {
                user.isPaidFor = true;       //everything is paid, so all users are paid for
                if (paidFor.Id != payment.user.Id) {
                  user.paidByAnotherUser = true;
                  user.paidAt = payment.timestamp;
                }
                else {
                  user.paidByAnotherUser = false;
                }
              }
            }

            if (payment.user && user.user.id == payment.user.Id)   //this is the user that did the payment
            {
              user.sumPaid += payment.consumption;
              user.paidAt = payment.timestamp;
            }
          });

        });
        return this.tableUsers;
      },
      orderPayed(){
        return this.order.currentPercentagePaid === 100;
      }
      /* sortedTableUsers(){            //works strangely and sometimes gives max stack exceeded
       var tableUsers=this.tableUsersWithPayments;
       if(tableUsers){
       tableUsers.sort((user1 , user2)=> {
       return user1.allocated > user2.allocated;
       window.console.log("Test")
       });
       }
       return tableUsers;
       }*/
    },
    methods: {
      getDateInfoPreText(user){
        if (user.isPaidFor) {
          if (user.paidByAnotherUser) {
            return 'Paid by a Tastier User at '
          }
          else {
            return 'Paid at '
          }
        }
        else {
          return 'At table since '
        }
      },
      getUserDateInfo(user){
        if (user.isPaidFor) {
          return user.paidAt;
        }
        return user.allocated;
      },
      handleResize(){
        var lowerSectionElement=this.$els.lowerSection;
        if(lowerSectionElement){
          this.lowerSectionHeight = lowerSectionElement.clientHeight;
        }
        else{
          setTimeout(this.handleResize,500) //call this function again untill the element is present
        }
      }
    },
    ready(){
      this.setHeaderText('Table Status');
      this.handleResize();
      window.addEventListener('resize', this.handleResize)
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize);
    }
  }
</script>
