<template>
  <div>
    <table-header :table-number="tableNumber" :table-user-count="tableUserCount"
                  :waiter-image="waiter.avatar"
                  :table-ticket="posOrderId"
                  :waiter-name="servantName" :display-info="!loading" :table-time="tableTimeText"></table-header>
    <div id="main">
      <div id="scrollAllocationContent" class="allocScroll">
        <router-view></router-view>
      </div>
      <deallocate-modal :show.sync="showDeallocationModal" :user-to-deallocate="userToDeallocate"
                        :table-number="tableNumber">

      </deallocate-modal>
      <div id="messages"></div>
    </div>
  </div>
</template>
<script lang="babel" type="text/babel">
  import deallocateModal from './utils/userDeallocateModal.vue'
  import tableDetails from './table-details.vue'
  import tableHeader from './table-header.vue'

  import {
    displayHeaderPart,
    setHeaderText,
    setHeaderComponent,
    setHeaderColumns
  } from '../../state/modules/header/actions'
  import {setCurrentTable,getTable} from '../../state/modules/restaurant/actions'

  import HeaderParts from '../../helpers/constants/layout/HeaderParts'
  import LoadingParts from '../../helpers/constants/layout/LoadingParts'
  import bus from '../../helpers/event-utils/bus'

  import tableTicketMixin from './mixins/table-ticket'
  import tableTimeMixin from './mixins/table-time'
  import tableUserCountMixin from './mixins/table-users-count'
  import tableOrderMixin from './mixins/table-order'
  import {PosService} from '../../services/service'
  export default {
    vuex: {
      getters: {
        waiter: state => state.restaurant.waiter,
        restaurantId: state=>state.restaurant.restaurantId,
        loadingTable: state=>state.restaurant.loading.table,
        allTables: state=>state.restaurant.allTables,
        stateCurrentTable: state=>state.restaurant.currentTable
      },
      actions: {
        displayHeaderPart,
        setHeaderText,
        setHeaderComponent,
        setCurrentTable,
        setHeaderColumns,
        getTable
      }
    },
    components: {tableDetails, tableHeader, deallocateModal},
    mixins: [tableTicketMixin, tableTimeMixin, tableUserCountMixin],
    data() {
      return {
        tableId: '',
        errorMessage: '',
        initialized: false,
        showDeallocationModal: false,
        allocateUsers: false,
        userToDeallocate: {
          id: '',
          fullName: ''
        },
        domUpdated: false
      }
    },
    computed: {
      currentTable(){
        var filteredTables = this.allTables.filter(table=>table.id == this.tableId);
        if(filteredTables.length==0){
          return this.stateCurrentTable;
        }
        if (filteredTables) {
          if (filteredTables.length > 0) {
            this.$nextTick(()=> {
              if (!this.domUpdated) {
                this.domUpdated = true;
              }
            });
            let currentTable = filteredTables[0];
            this.setCurrentTable(currentTable);
            return filteredTables[0];
          }
        }
        return null;
      },
      order(){
        if (!this.currentTable) return null;
        return this.currentTable.order;
      },
      invalidTable(){
        return !!(!this.currentTable && !this.loadingTable);

      },
      loading(){
        return this.loadingTable || !this.domUpdated;
      },

      servantName(){
        if (this.order) {
          if (this.order.servantInfo) {
            return this.order.servantInfo.ServantPreName;
          }
        }
        return '';
      },
      tableNumber(){
        if (!this.currentTable) {
          return '';
        }
        return this.currentTable.tableNumber;
      }

    },
    methods: {
      initializeHeaderLayout(){
        this.displayHeaderPart(HeaderParts.Left, true);
        this.displayHeaderPart(HeaderParts.Right, true);
        this.setHeaderColumns(HeaderParts.Left, 4);
        this.setHeaderColumns(HeaderParts.Right, 4);
        this.setHeaderColumns(HeaderParts.Middle, 4);
        this.setHeaderComponent(HeaderParts.Left, 'leftArrow');
      },
      deallocate(userId, fullName){
        this.showDeallocationModal = true;
        this.userToDeallocate.id = userId;
        this.userToDeallocate.fullName = fullName;
      }
    },
    created(){
      this.tableId = this.$route.params.id;
      this.initializeHeaderLayout();
      bus.$on('deallocate', this.deallocate);
    },
    ready(){
      if(!this.currentTable){
          this.getTable(this.tableId,()=>{
            this.domUpdated=true;
          });
      }
    }
  }
</script>

<style>
  .align-center {
    text-align: center;
  }
</style>
