<template>
  <div id="scrollContent" class="scrolCnt loginScrollCnt mCustomScrollbar _mCS_1 mCS_no_scrollbar" :style="customHeight"
       :style="customHeight">

    <alert type="danger" v-if="displayError" :timeout="0">
      {{error}}
    </alert>
    <waiter v-for="waiter in waiters" :image-src="waiter.avatar" :waiter-id="waiter.id"
            :name="waiter.preName+waiter.lastName" v-link="{ name: 'login', params: { id: waiter.id }}">

    </waiter>
  </div>
</template>
<script>
  import waiter from './waiter.vue';
  import alert from './../layout/alert.vue'
  import {getWaiters} from '../../state/modules/restaurant/actions'
  import {setHeaderText, displayHeaderPart} from '../../state/modules/header/actions'
  import HeaderParts from '../../helpers/constants/layout/HeaderParts'
  import {StaffService} from '../../services/service'
  export default {
    vuex: {
      getters: {
        waiters: state => state.restaurant.waiters,
        restaurantId: state=>state.restaurant.restaurantId,
        header: state=>state.header
      },
      actions: {
        getWaiters,
        setHeaderText,
        displayHeaderPart
      }
    },
    components: {waiter,alert},
    data() {
      return {
        error:'Server communication error',
        displayError:false
      }
    },
    computed: {
      customHeight(){
        var contentHeight = this.header.windowHeight - this.header.height - this.header.lower.height;
        let result=`overflow-y: auto; height: ${contentHeight}px;`
        return result
      }
    },
    methods:{
      errorCallback(){
        this.displayError=true;
      }
    },
    created(){
      if (!this.waiters || this.waiters.length === 0) {
        this.displayError=false;
        this.getWaiters(this.restaurantId,this.errorCallback);
      }
      this.setHeaderText('Login');
      this.displayHeaderPart(HeaderParts.Left, false);
      this.displayHeaderPart(HeaderParts.Right, false);
      this.displayHeaderPart(HeaderParts.Lower, false);
      sessionStorage.clear();
    }
  }
</script>

<style>
</style>
