<template>
  <div class="displayTable mt-4x">
    <a class="member" v-link="passwordLink"><div class="displayCell profilePic">
      <img :id="waiterId" :src="imageSrc" alt="">
    </div>
    <div class="displayCell profileName">
      <span :id="waiterId">{{name}}</span>
    </div>
  </a>
    <div v-el="testId"></div>
  </div>
</template>
<script>
  export default {
    props:['passwordLink','imageSrc','waiterId','name']
  }
</script>

<style>
</style>
